Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

chore(release): 6.10.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  63/c66b862628538d7f152fe172b8a875e44f687a
Due: none

fix(evo-badge): fix inner icons markup
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  src/stories/components/evo-badge.stories.ts
Due: npm run lint:ts, npm run lint:styles

chore(release): 6.10.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  00/c4233a85d0c4b80471649046a56ca035775a78
Due: none

docs(evo-navbar): remove emoji
  src/stories/components/evo-navbar.stories.ts
Due: npm run lint:ts

feat(evo-table): add ability to pass factory for row ngclass value
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.html
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.ts
Due: npm run lint:ts

chore(release): 8.3.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  19ac91db2f1be16774308345493cb8c19ee955c8
Due: none

feat(evo-table): add ability to pass title to row
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.html
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.ts
Due: npm run lint:ts

Notes added by 'git notes add'
  d500532e1edc918937e8210328f28803707bbbab
Due: none

chore(release): 8.4.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-radio): add ability to force check radio button
  projects/evo-ui-kit/src/lib/components/evo-radio/evo-radio.component.ts
Due: npm run lint:ts

chore(release): 8.5.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  b4f57ed57de50d1238b1d02d8ddcb433ec03468c
Due: none

fix(evo-icon-bubble): fixed behavior of dynamic notification dot
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.ts
Due: npm run lint:ts

chore(release): 6.10.2 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  55/b72dbcb92402613e1d6f6f79fded9728676915
Due: none

chore(release): 7.4.7 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  3f8caf477ac61b71fa5c1e56ebbe42d7d448cb30
Due: none

chore(release): 8.5.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  dbe859ed3ac4fa33169aaaa9927b47c03acf49b5
Due: none

feat(datepicker): new calendar and input-date (wip)
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-days/evo-calendar-section-days.component.html
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-days/evo-calendar-section-days.component.scss
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-days/evo-calendar-section-days.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar/evo-calendar.component.scss
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/is-after-date.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/is-date-after.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/is-date-before.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/is-date-in-interval.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/is-same-date.ts
Due: npm run lint:ts, npm run lint:styles

feat(datepicker): new calendar and input-date (wip)
  projects/evo-ui-kit/src/lib/components/evo-calendar/classes/abstract-calendar-section.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-dates-months/evo-calendar-dates-months.component.scss
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-days/evo-calendar-section-days.component.html
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-days/evo-calendar-section-days.component.scss
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-days/evo-calendar-section-days.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-header/evo-calendar-section-header.component.html
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-header/evo-calendar-section-header.component.scss
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-header/evo-calendar-section-header.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-months/evo-calendar-section-months.component.html
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-months/evo-calendar-section-months.component.scss
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-months/evo-calendar-section-months.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-years/evo-calendar-section-years.component.html
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-years/evo-calendar-section-years.component.scss
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-years/evo-calendar-section-years.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar/evo-calendar.component.html
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar/evo-calendar.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/index.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/enums/calendar-month-type.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/enums/index.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/evo-calendar.module.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/services/evo-calendar.service.ts
  src/app/app.module.ts
Due: npm run lint:ts, npm run lint:styles

feat(datepicker): new calendar and input-date (wip)
  package-lock.json
  package.json
Due: none

feat(datepicker): new calendar and input-date (wip)
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-days/evo-calendar-section-days.component.scss
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar/evo-calendar.component.scss
Due: npm run lint:styles

feat(datepicker): new calendar and input-date (wip)
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-days/evo-calendar-section-days.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-header/evo-calendar-section-header.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-months/evo-calendar-section-months.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-years/evo-calendar-section-years.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/index.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/services/evo-calendar.service.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/types/date-unit-type.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/types/index.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/get-date-add.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/get-date-subtract.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/index.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/is-date-after.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/is-date-before.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/is-date-in-interval.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/is-same-date.ts
Due: npm run lint:ts

feat(datepicker): new calendar and input-date (wip)
  projects/evo-ui-kit/src/lib/components/evo-calendar/classes/abstract-calendar-section.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-days/evo-calendar-section-days.component.html
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-days/evo-calendar-section-days.component.scss
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-days/evo-calendar-section-days.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-header/evo-calendar-section-header.component.html
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-header/evo-calendar-section-header.component.scss
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-header/evo-calendar-section-header.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-months/evo-calendar-section-months.component.html
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-months/evo-calendar-section-months.component.scss
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-months/evo-calendar-section-months.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-years/evo-calendar-section-years.component.html
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-years/evo-calendar-section-years.component.scss
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-years/evo-calendar-section-years.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar/evo-calendar.component.html
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar/evo-calendar.component.scss
  projects/evo-ui-kit/src/lib/components/evo-calendar/constants/days-of-week.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/constants/index.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/constants/months.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/evo-calendar.module.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/index.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/interfaces/calendar-month-with-days-list.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/interfaces/calendar-month.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/interfaces/calendar.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/services/evo-calendar.service.ts
Due: npm run lint:ts, npm run lint:styles

feat(datepicker): new calendar and input-date (wip)
  projects/evo-ui-kit/src/lib/components/evo-input-date/components/evo-input-date-inner/evo-input-date-inner.component.html
  projects/evo-ui-kit/src/lib/components/evo-input-date/components/evo-input-date-inner/evo-input-date-inner.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input-date/components/evo-input-date-inner/evo-input-date-inner.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/components/evo-input-date-range/evo-input-date-range.component.html
  projects/evo-ui-kit/src/lib/components/evo-input-date/components/evo-input-date-range/evo-input-date-range.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/components/evo-input-date/evo-input-date.component.html
  projects/evo-ui-kit/src/lib/components/evo-input-date/components/evo-input-date/evo-input-date.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/evo-input-date.module.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/types/evo-date-input-mask.ts
Due: npm run lint:ts, npm run lint:styles

feat(datepicker): new calendar and input-date (wip)
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-days/evo-calendar-section-days.component.scss
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-header/evo-calendar-section-header.component.html
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-months/evo-calendar-section-months.component.scss
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-years/evo-calendar-section-years.component.scss
Due: npm run lint:styles

feat(datepicker): new calendar and input-date (wip)
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-header/evo-calendar-section-header.component.html
Due: none

feat(datepicker): new calendar and input-date (wip)
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-days/evo-calendar-section-days.component.scss
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-days/evo-calendar-section-days.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-header/evo-calendar-section-header.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-months/evo-calendar-section-months.component.scss
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-months/evo-calendar-section-months.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-years/evo-calendar-section-years.component.scss
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-years/evo-calendar-section-years.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar/evo-calendar.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/services/evo-calendar.service.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/get-date-by-calendar-day.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/index.ts
  src/app/app.component.html
Due: npm run lint:ts, npm run lint:styles

feat(datepicker): new calendar and input-date (wip)
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/get-date-add.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/get-date-subtract.ts
Due: npm run lint:ts

feat(datepicker): new calendar and input-date (wip)
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar/evo-calendar.component.ts
Due: npm run lint:ts

feat(datepicker): new calendar and input-date (wip)
  projects/evo-ui-kit/src/lib/common/evo-base-input-like-control.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/assets/evo-input-date-common.scss
  projects/evo-ui-kit/src/lib/components/evo-input-date/classes/abstract-input-date.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/components/evo-input-date-range/evo-input-date-range.component.html
  projects/evo-ui-kit/src/lib/components/evo-input-date/components/evo-input-date-range/evo-input-date-range.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input-date/components/evo-input-date-range/evo-input-date-range.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/components/evo-input-date/evo-input-date.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/constants/date-compose-format.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/constants/date-parse-format.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/constants/date-range-separator.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/constants/date-time-compose-format.ts
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-input-mixins.scss
  src/app/app.component.html
Due: npm run lint:ts, npm run lint:styles

feat(datepicker): new calendar and input-date (wip)
  package-lock.json
  package.json
  projects/evo-ui-kit/src/lib/common/evo-base-input-like-control.ts
  projects/evo-ui-kit/src/lib/common/types/evo-input-size.ts
  projects/evo-ui-kit/src/lib/common/types/evo-input-theme.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/components/evo-input-date-inner/evo-input-date-inner.component.html
  projects/evo-ui-kit/src/lib/components/evo-input-date/components/evo-input-date-inner/evo-input-date-inner.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input-date/components/evo-input-date-inner/evo-input-date-inner.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/components/evo-input-date-range/evo-input-date-range.component.html
  projects/evo-ui-kit/src/lib/components/evo-input-date/components/evo-input-date-range/evo-input-date-range.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/components/evo-input-date/evo-input-date.component.html
  projects/evo-ui-kit/src/lib/components/evo-input-date/components/evo-input-date/evo-input-date.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input-date/components/evo-input-date/evo-input-date.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/constants/date-separator.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/constants/date-time-separator.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/constants/index.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/constants/maskito-date-mode.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/constants/maskito-date-options-defaults.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/evo-input-date.module.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/index.ts
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-input-mixins.scss
  src/app/app.component.html
  src/app/app.component.ts
Due: npm run lint:ts, npm run lint:styles

feat(datepicker): new calendar and input-date (wip)
  package-lock.json
  package.json
  projects/evo-ui-kit/ng-package.json
  projects/evo-ui-kit/ng-package.prod.json
  projects/evo-ui-kit/package.json
  projects/evo-ui-kit/src/lib/components/evo-calendar/services/evo-calendar.service.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/get-date-add.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/get-date-fns-duration.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/get-date-subtract.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/get-start-of-date-by-unit.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/is-date-after.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/is-date-before.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/is-date-in-interval.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/utils/is-same-date.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/components/evo-input-date-inner/evo-input-date-inner.component.ts
Due: npm run lint:ts

Path conditions:
  npm run lint:ts: any of: *.ts
  npm run lint:styles: any of: *.scss
  **/dist/**: any of: ignore
  stories/**: any of: ignore
