Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

Notes added by 'git notes add'
  15/01cb1682eeff2628c663d1cdc3e1ac2db026f7
Due: none

chore(release): 7.4.6 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  01ac542b72bde82622256f10989e9271c007acdc
Due: none

fix(evo-input): satisfy abstract base control focus method
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: npm run lint:ts

fix(evo-checkbox): stop triggering on change in write value function which allow to properly use 'emitEvent: false' in controls
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.ts
Due: npm run lint:ts

fix(evo-input): satisfy abstract base control focus method (#1203)
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: npm run lint:ts

chore(release): 8.0.5 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  9db4d96796fae3abf619c830e37c7b4d2cf8f73d
Due: none

fix(evo-checkbox): stop triggering on change in write value function which allow to properly use 'emitEvent: false' in controls (#1204)
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.ts
Due: npm run lint:ts

chore(release): 8.0.6 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  96fbc8c9b2ee40e7fe6505ccc392b8ae63f6b0ec
Due: none

feat(evo-badge): add size
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  projects/evo-ui-kit/src/lib/components/evo-badge/types/evo-badge-size.ts
  src/stories/components/evo-badge.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-badge): possibility to customize background
  projects/evo-ui-kit/src/lib/common/types/evo-color.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  projects/evo-ui-kit/src/lib/components/evo-badge/types/evo-badge-color.ts
  src/stories/components/evo-badge.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-badge): add icon directive
  projects/evo-ui-kit/src/lib/components/evo-badge/directives/evo-badge-icon.directive.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/directives/evo-badge-icon.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.module.ts
Due: npm run lint:ts

feat(evo-badge): add prefix icon, update tests
  projects/evo-ui-kit/src/lib/components/evo-badge/directives/evo-badge-icon.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.html
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/public-api.ts
  src/stories/components/evo-badge.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-note): add a transform function to closable input
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.html
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.ts
Due: npm run lint:ts

test(evo-note): fix tests for signal input
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.spec.ts
Due: npm run lint:ts

chore(release): 8.1.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  a746ab95fed52cacaef6a307d4de0f9773a286db
Due: none

feat(evo-title): add h5 class
  projects/evo-ui-kit/src/lib/styles/components/evo-title.scss
Due: npm run lint:styles

chore(release): 8.2.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  e18a9c5413fca0ec0c39cc74433de06b3ce6c986
Due: none

feat(evo-badge): udtate stories, correct styles
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.ts
  src/stories/components/evo-badge.stories.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-badge): correct paddings
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
Due: npm run lint:styles

fix(evo-badge): correct import
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.ts
Due: npm run lint:ts

fix(evo-badge): clear, stop test failing
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.ts
  src/stories/components/evo-badge.stories.ts
Due: npm run lint:ts

feat(evo-badge): update stories, correct styles
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.ts
  src/stories/components/evo-badge.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-badge): refactor badge
  projects/evo-ui-kit/src/lib/common/types/evo-color.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/assets/evo-badge-variables.scss
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.html
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.module.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/types/evo-badge-color.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/types/evo-badge-size.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-color.ts
  src/stories/components/evo-badge.stories.ts
Due: npm run lint:ts, npm run lint:styles

docs(evo-badge): minor
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.ts
Due: npm run lint:ts

feat(evo-badge): refactor badge
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
Due: npm run lint:styles

build: gulp icons minor fix
  scripts/gulp-icons-build.js
Due: none

Path conditions:
  npm run lint:ts: any of: *.ts
  npm run lint:styles: any of: *.scss
  **/dist/**: any of: ignore
  stories/**: any of: ignore
