Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

.lintstagedrc:

{
  "*.ts": ["npm run lint:ts", "git add"],
  "*.scss": ["npm run lint:styles", "git add"],
  "ignore": ["**/dist/**", "stories/**"]
}

chore(release): 20.0.0-beta.5 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  0ccae5ee2678d1674c6acafe718daca6f1f4eef4
Due: none

refactor(evo-datepicker): access flatpickr through the stored instance
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: npm run lint:ts

fix(evo-datepicker): survive being used before flatpickr is created
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: npm run lint:ts

fix(evo-datepicker): render the initial value inside OnPush subtrees
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.html
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.onpush.spec.ts
Due: npm run lint:ts

refactor(evo-datepicker): tighten the display value plumbing
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: npm run lint:ts

test(evo-datepicker): fold the OnPush hosts into one parameterized host
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.onpush.spec.ts
Due: npm run lint:ts

test(evo-datepicker): cover destroying the component before the calendar exists
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.onpush.spec.ts
Due: npm run lint:ts

chore(release): 20.0.0-beta.6 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  020b7df31c8c3f94975b954c226b989bb2b16874
Due: none

chore(release): 8.27.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  1ffea5c1800464cdb40297e5e58df41b40b8db14
Due: none

build: add Makefile as the single entry point for repo checks
  Makefile
Due: none

style(karma): reformat the evo-ui-kit karma config with prettier
  projects/evo-ui-kit/karma.conf.js
Due: none

fix(karma): emit the lcov coverage report the config already asked for
  projects/evo-ui-kit/karma.conf.js
Due: none

build: add Makefile as the single entry point for repo checks (#1322)
  Makefile
  projects/evo-ui-kit/karma.conf.js
Due: none

feat(evo-input): add postfix, maxLength, and error visibility
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.html
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
  src/stories/components/evo-input.stories.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-input): refine clearable, maxLength, and error visibility
  projects/evo-ui-kit/src/lib/common/evo-base-control.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.html
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
  src/stories/components/evo-input.stories.ts
Due: npm run lint:ts, npm run lint:styles

chore(release): 8.28.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  3ad5711c9c0932deee52ce6379fd25dbd141ea8c
Due: none

feat(evo-input): add postfix, maxLength, and error visibility
  projects/evo-ui-kit/src/lib/common/evo-base-control.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.html
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.module.ts
  src/stories/components/evo-input.stories.ts
Due: npm run lint:ts, npm run lint:styles

chore(release): 20.0.0-beta.7 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  2d5db8ac7cce0c198935467a7a0ac2768a3c3a64
Due: none

chore(release): 6.26.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  d3/20dcc62eae308cccbe4ca7138f58f5dec26db4
Due: none

fix(evo-autocomplete): forward a marker class to the appended dropdown panel
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.spec.ts
Due: npm run lint:ts

refactor(evo-autocomplete): hoist the option mixin and the css props to the top level
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.scss
Due: npm run lint:styles

fix(evo-autocomplete): style the dropdown panel through the marker class
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.scss
Due: npm run lint:styles

test(evo-autocomplete): compare computed styles of the appended and inline panels
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.spec.ts
Due: npm run lint:ts
