Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

.lintstagedrc:

{
  "*.ts": ["npm run lint:ts", "git add"],
  "*.scss": ["npm run lint:styles", "git add"],
  "ignore": ["**/dist/**", "stories/**"]
}

style(evo-datepicker): prettify
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: npm run lint:ts

test(evo-datepicker): test case for initializing datepicker from formControl
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.spec.ts
Due: npm run lint:ts

fix(evo-datepicker): set default value from control initial value
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: npm run lint:ts

chore(evo-datepicker): actualize stories for replacing config.defaultValue on control value
  src/stories/components/evo-datepicker.stories.ts
Due: npm run lint:ts

chore(release): 8.21.3 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  cea867e6c3d23bebdbd3410e620ed6d1488ebe30
Due: none

chore(release): 6.22.5 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  d9/35bbbe682c8f8274e6fa30a182dd522c5385b6
Due: none

feat(evo-control-error): changed required field
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-control-error/evo-control-error.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-control-error/evo-control-error.component.ts
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts

fix(evo-modal): make max-width changable by css variable
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.scss
Due: npm run lint:styles

chore(release): 8.21.4 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  bdc1f566096dd703f38543e1d52a330bbc4a9343
Due: none

chore(release): 8.22.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  0b177618386401f31aae46fce6fcbb0d4e35f2e0
Due: none

chore(release): 6.23.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  a5/7aba2bfbdce0b4d804effbfb1fb0503b6d9ebe
Due: none

feat(evo-input): made edits
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: npm run lint:ts

chore(release): 6.24.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  17/9baab485f2e5fd1858791de7f7ba84f3558a16
Due: none

chore(release): 8.23.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  206e3413ff6bce275de820d28b8ec099362c5f9b
Due: none

feat(evo-chip): updated styles
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.html
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.module.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
  src/stories/components/evo-chip.stories.ts
Due: npm run lint:ts, npm run lint:styles

refactor(evo-chip): use inner css variables
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.html
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
  projects/evo-ui-kit/src/lib/styles/variables.scss
Due: npm run lint:ts, npm run lint:styles

feat(evo-counter): use implementation from market
  projects/evo-ui-kit/src/lib/components/evo-counter/components/evo-counter/evo-counter.component.html
  projects/evo-ui-kit/src/lib/components/evo-counter/components/evo-counter/evo-counter.component.scss
  projects/evo-ui-kit/src/lib/components/evo-counter/components/evo-counter/evo-counter.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/components/evo-counter/evo-counter.component.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/enums/evo-counter-size.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.scss
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.module.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/public-api.ts
  src/stories/components/evo-counter.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-chip): updated styles
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.html
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
  src/stories/components/evo-chip.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-counter): use implementation from market
  projects/evo-ui-kit/src/lib/components/evo-counter/components/evo-counter/evo-counter.component.html
  projects/evo-ui-kit/src/lib/components/evo-counter/components/evo-counter/evo-counter.component.scss
  projects/evo-ui-kit/src/lib/components/evo-counter/components/evo-counter/evo-counter.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/components/evo-counter/evo-counter.component.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/enums/evo-counter-size.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.html
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.scss
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.module.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/public-api.ts
  src/stories/components/evo-counter.stories.ts
Due: npm run lint:ts, npm run lint:styles

refactor(evo-chip): use inner css variables
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.html
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
  projects/evo-ui-kit/src/lib/styles/variables.scss
  src/stories/components/evo-chip.stories.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-tooltip): fixed behavior and tests
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/enums/evo-tooltip-style-variable.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/enums/evo-tooltip-variable-arrow-position.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/interfaces/evo-tooltip-styles.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-tooltip): fixed behavior
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-tooltip): fixed subscription and scroll strategies added to config
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/interfaces/evo-tooltip-config.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/types/evo-tooltip-scroll-strategy.ts
Due: npm run lint:ts

feat(evo-tooltip): added service to public api
  projects/evo-ui-kit/src/lib/components/evo-tooltip/public-api.ts
Due: npm run lint:ts

feat(evo-tooltip): stories added
  projects/evo-ui-kit/src/lib/components/evo-tooltip/public-api.ts
  src/stories/components/evo-tooltip.stories.ts
Due: npm run lint:ts

feat(evo-tooltip-config): added scroll strategy to config
  projects/evo-ui-kit/src/lib/components/evo-tooltip/constants/evo-tooltip-config.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
Due: npm run lint:ts

feat(evo-tooltip): stories added
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
Due: npm run lint:ts
