Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

refactor(evo-icon-button): remove deprecated theme property and change color property type
  MIGRATION.md
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/types/evo-icon-button-color.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/types/evo-icon-button-theme.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/types/index.ts
  src/stories/components/evo-icon-button.stories.ts
Due: npm run lint:ts, npm run lint:styles

chore(release): 8.0.0-beta.9 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  73442787d7579c912ac67ba8b2bfe1b5cf8fed8f
Due: none

refactor: remove deprecated evo-loader
  MIGRATION.md
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-loader.component.html
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-loader.component.scss
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-loader.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-loader.component.ts
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-loader.module.ts
  projects/evo-ui-kit/src/lib/components/evo-loader/public-api.ts
  src/stories/components/evo-loader.stories.ts
Due: npm run lint:ts, npm run lint:styles

docs: add evo ui kit logo
  .storybook/manager.js
  package-lock.json
  package.json
  src/assets/ui-kit-logo.png
Due: none

chore(release): 8.0.0-beta.10 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  5da7a96e998790dfb3acb39b1ebc7b5fdfc467b8
Due: none

fix(evo-icon-number): not show number
  projects/evo-ui-kit/src/lib/components/evo-icon-number/components/evo-icon-number/evo-icon-number.component.html
Due: none

chore(release): 8.0.0-beta.11 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  c4b3833e899830cfb0abbdf5f46ef7aa51a70e47
Due: none

refactor: remove deprecated `evo-plus-minus`
  MIGRATION.md
  projects/evo-ui-kit/src/lib/components/evo-plus-minus/evo-plus-minus.component.html
  projects/evo-ui-kit/src/lib/components/evo-plus-minus/evo-plus-minus.component.scss
  projects/evo-ui-kit/src/lib/components/evo-plus-minus/evo-plus-minus.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-plus-minus/evo-plus-minus.component.ts
  projects/evo-ui-kit/src/lib/components/evo-plus-minus/evo-plus-minus.module.ts
  projects/evo-ui-kit/src/lib/components/evo-plus-minus/index.ts
  projects/evo-ui-kit/src/lib/components/evo-plus-minus/public-api.ts
  projects/evo-ui-kit/src/public_api.ts
  src/stories/components/evo-plus-minus.stories.ts
Due: npm run lint:ts, npm run lint:styles

refactor: remove deprecated `evo-select`
  MIGRATION.md
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.html
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.scss
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.ts
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.module.ts
  projects/evo-ui-kit/src/lib/components/evo-select/index.ts
  projects/evo-ui-kit/src/lib/components/evo-select/public-api.ts
  projects/evo-ui-kit/src/public_api.ts
  src/stories/components/evo-select.stories.ts
Due: npm run lint:ts, npm run lint:styles

chore(release): 8.0.0-beta.12 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  4339f093f3da72dfa5928679d1bbfc0bfce1dce5
Due: none

refactor: remove deprecated `evo-submenu`
  MIGRATION.md
  projects/evo-ui-kit/src/lib/components/evo-submenu/evo-submenu.component.html
  projects/evo-ui-kit/src/lib/components/evo-submenu/evo-submenu.component.scss
  projects/evo-ui-kit/src/lib/components/evo-submenu/evo-submenu.component.ts
  projects/evo-ui-kit/src/lib/components/evo-submenu/evo-submenu.module.ts
  projects/evo-ui-kit/src/lib/components/evo-submenu/index.ts
  projects/evo-ui-kit/src/lib/components/evo-submenu/public-api.ts
  projects/evo-ui-kit/src/public_api.ts
  src/stories/components/evo-submenu.stories.ts
Due: npm run lint:ts, npm run lint:styles

refactor: remove deprecated `evo-switcher`
  MIGRATION.md
  projects/evo-ui-kit/src/lib/components/evo-switcher/components/evo-switcher-item/evo-switcher-item.component.html
  projects/evo-ui-kit/src/lib/components/evo-switcher/components/evo-switcher-item/evo-switcher-item.component.scss
  projects/evo-ui-kit/src/lib/components/evo-switcher/components/evo-switcher-item/evo-switcher-item.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-switcher/components/evo-switcher-item/evo-switcher-item.component.ts
  projects/evo-ui-kit/src/lib/components/evo-switcher/evo-switcher.component.html
  projects/evo-ui-kit/src/lib/components/evo-switcher/evo-switcher.component.scss
  projects/evo-ui-kit/src/lib/components/evo-switcher/evo-switcher.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-switcher/evo-switcher.component.ts
  projects/evo-ui-kit/src/lib/components/evo-switcher/evo-switcher.module.ts
  projects/evo-ui-kit/src/lib/components/evo-switcher/index.ts
  projects/evo-ui-kit/src/lib/components/evo-switcher/public-api.ts
  projects/evo-ui-kit/src/public_api.ts
  src/stories/components/evo-switcher.stories.ts
Due: npm run lint:ts, npm run lint:styles

chore(release): 8.0.0-beta.13 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  d3d115a6495e673711a8f760727d95d52d6ac812
Due: none

refactor: remove deprecated `evo-radio-group`
  MIGRATION.md
  projects/evo-ui-kit/src/lib/components/evo-radio-group/evo-radio-group.component.html
  projects/evo-ui-kit/src/lib/components/evo-radio-group/evo-radio-group.component.scss
  projects/evo-ui-kit/src/lib/components/evo-radio-group/evo-radio-group.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-radio-group/evo-radio-group.component.ts
  projects/evo-ui-kit/src/lib/components/evo-radio-group/evo-radio-group.module.ts
  projects/evo-ui-kit/src/lib/components/evo-radio-group/index.ts
  projects/evo-ui-kit/src/lib/components/evo-radio-group/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-radio-group/typings/options.ts
  projects/evo-ui-kit/src/public_api.ts
  src/stories/components/evo-radio-group.stories.ts
Due: npm run lint:ts, npm run lint:styles

refactor: remove deprecated `evo-segmented-bar`
  .github/CODEOWNERS
  MIGRATION.md
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar-button/evo-segmented-bar-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar-button/evo-segmented-bar-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar-button/evo-segmented-bar-button.component.ts
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar.module.ts
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar/evo-segmented-bar.component.html
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar/evo-segmented-bar.component.scss
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar/evo-segmented-bar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar/evo-segmented-bar.component.ts
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/index.ts
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/public-api.ts
  projects/evo-ui-kit/src/public_api.ts
  src/stories/components/evo-segmented-bar.stories.ts
Due: npm run lint:ts, npm run lint:styles

chore(release): 8.0.0-beta.14 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  4aec6fc3e7989504e296968350152805a571d70b
Due: none

docs: make buttons group
  src/stories/components/evo-button.stories.ts
  src/stories/components/evo-icon-button.stories.ts
  src/stories/components/evo-navigation-button.stories.ts
Due: npm run lint:ts

chore: group npm scripts for readability
  package.json
Due: none

build: add ability to serve storybook without ui-kit prebuild
  .github/workflows/ci.yml
  .storybook/main.ts
  README.md
  package-lock.json
  package.json
  projects/evo-ui-kit/index.ts
  projects/evo-ui-kit/src/index.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.spec.ts
  projects/evo-ui-kit/tsconfig.lib.json
  projects/evo-ui-kit/tsconfig.spec.json
  projects/evo-ui-kit/tslint.json
  src/tslint.json
  tsconfig.json
Due: npm run lint:ts

docs: change readme info
  README.md
Due: none

docs: add autodocs
  .gitignore
  .storybook/main.ts
  .storybook/preview-head.html
  .storybook/preview.ts
  .storybook/tsconfig.json
  .storybook/typings.d.ts
  angular.json
  package-lock.json
  package.json
Due: npm run lint:ts

docs: fix icon stories
  src/stories/icons/color-icons.stories.ts
  src/stories/icons/evo-icon.stories.ts
Due: npm run lint:ts

chore: fix git hooks
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.js
  .prettierrc.js
  commitlint.config.js
  package-lock.json
  package.json
Due: none

feat: change control flow
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.html
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button/evo-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.html
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.html
  projects/evo-ui-kit/src/lib/components/evo-control-error/evo-control-error.component.html
  projects/evo-ui-kit/src/lib/components/evo-control-label/evo-control-label.component.html
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.html
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-icon-number/components/evo-icon-number/evo-icon-number.component.html
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.component.html
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.html
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.html
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar.component.html
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.html
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.html
  projects/evo-ui-kit/src/lib/components/evo-radioshape/components/evo-radioshape.component.html
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.html
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.html
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper-item/evo-stepper-item.component.html
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.html
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.html
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.html
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.html
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.html
  src/stories/components/evo-icons-wrapper/evo-icons-wrapper.component.html
  src/stories/components/evo-table-dynamic-columns/evo-table-dynamic-columns.component.html
  src/stories/components/evo-table-wrapper/evo-table-wrapper.component.html
Due: none

refactor(evo-icon): rewrite to standalone
  MIGRATION.md
  README.md
  angular.json
  gulpfile.js
  projects/evo-ui-kit/src/lib/common/tokens/assets-path.ts
  projects/evo-ui-kit/src/lib/common/tokens/icon-resolver.ts
  projects/evo-ui-kit/src/lib/common/tokens/index.ts
  projects/evo-ui-kit/src/lib/common/tokens/public_api.ts
  projects/evo-ui-kit/src/lib/components/evo-icon/classes/evo-icons-library.ts
  projects/evo-ui-kit/src/lib/components/evo-icon/evo-icon.component.html
  projects/evo-ui-kit/src/lib/components/evo-icon/evo-icon.component.scss
  projects/evo-ui-kit/src/lib/components/evo-icon/evo-icon.component.ts
  projects/evo-ui-kit/src/lib/components/evo-icon/evo-icon.module.ts
  projects/evo-ui-kit/src/lib/components/evo-icon/evo-icon.service.ts
  projects/evo-ui-kit/src/lib/components/evo-icon/interfaces/icon-options.ts
  projects/evo-ui-kit/src/lib/components/evo-icon/public-api.ts
  projects/evo-ui-kit/src/lib/utils/create-token.ts
  projects/evo-ui-kit/src/lib/utils/index.ts
  projects/evo-ui-kit/src/lib/utils/public_api.ts
  projects/evo-ui-kit/src/public_api.ts
  scripts/gulp-config.js
  scripts/gulp-icons-build.js
Due: npm run lint:ts, npm run lint:styles

refactor(evo-accordion): change usage of evo-icon
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.html
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.module.ts
  src/stories/components/evo-accordion.stories.ts
Due: npm run lint:ts

refactor(evo-chip): change usage of evo-icon
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.module.ts
  src/stories/components/evo-chip.stories.ts
Due: npm run lint:ts

refactor(evo-control-label): change usage of evo-icon
  src/stories/components/evo-control-label.stories.ts
Due: npm run lint:ts

refactor(evo-button): change usage of evo-icon
  src/stories/components/evo-button.stories.ts
Due: npm run lint:ts

docs(evo-tabs): change usage of router module
  src/stories/components/evo-tabs.stories.ts
Due: npm run lint:ts

refactor(evo-autocomplete): change usage of evo-icon
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts, npm run lint:styles

refactor(evo-navigation-button): change usage of evo-icon
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/evo-navigation-button.module.ts
  src/stories/components/evo-navigation-button.stories.ts
Due: npm run lint:ts

Path conditions:
  npm run lint:ts: any of: *.ts
  npm run lint:styles: any of: *.scss
  **/dist/**: any of: ignore
  stories/**: any of: ignore
