Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

chore(ci): try to fix test job
  .github/workflows/ci.yml
Due: none

chore(release): 8.0.0-beta.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  762f335b499d10da346a9a6e342c35e895e0bb4c
Due: none

feat: update angular to v15 - update deps
  package-lock.json
  package.json
Due: none

chore: update angular to v15 - upgrade @angular/*
  package-lock.json
  package.json
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar-item/evo-navbar-item.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/test.ts
  projects/evo-ui-kit/tsconfig.lib.json
  tsconfig.json
Due: npm run lint:ts

chore: update angular to v15 - upgrade eslint related packages
  angular.json
  package-lock.json
  package.json
Due: none

chore: update angular to v15 - update ngx-page-scroll
  package-lock.json
  package.json
Due: none

chore: update angular to v15 - update @ngneat/spectator
  package.json
Due: none

chore: update angular to v15 - upgrade storybook to v8
  .storybook/main.ts
  package-lock.json
  package.json
  src/stories/index.ts
Due: npm run lint:ts

fix(evo-ui-class): add removed in angular utility function
  projects/evo-ui-kit/src/lib/directives/evo-ui-class.directive.ts
Due: npm run lint:ts

chore(release): 8.0.0-beta.2 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  cff15ee5d77608f87bc0f7717cb56f4b9f5b684b
Due: none

feat: update angular to v16 - update deps
  package-lock.json
  package.json
Due: none

chore(release): 8.0.0-beta.3 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  700e0951f5da7855bb075917a3371b299caf02a8
Due: none

chore: dedupe packages
  package-lock.json
Due: none

fix: update lib deps
  projects/evo-ui-kit/package.json
Due: none

chore(release): 8.0.0-beta.4 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  05c3b311c381d650a52efd81acebf40dab0f5735
Due: none

feat: update angular to v17 - update node.js
  .nvmrc
  package.json
Due: none

feat: update angular to v17 - update deps
  angular.json
  package-lock.json
  package.json
  projects/evo-ui-kit/package.json
Due: none

chore: try to fix test job
  .github/workflows/ci.yml
Due: none

chore(release): 8.0.0-beta.5 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  c32313a66782b24bcd0eb12de4d2aff0ffbbf788
Due: none

fix(evo-navigation-button): add styles on hover and select
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/evo-navigation-button.component.scss
Due: npm run lint:styles

refactor(scss): remove deprecated variables
  MIGRATION.md
  projects/evo-ui-kit/src/lib/styles/variables.scss
Due: npm run lint:styles

refactor(scss): remove deprecated mixins
  MIGRATION.md
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.scss
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.scss
  projects/evo-ui-kit/src/lib/styles/components/evo-form.scss
  projects/evo-ui-kit/src/lib/styles/components/evo-title.scss
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-input-mixins.scss
Due: npm run lint:styles

chore(release): 8.0.0-beta.6 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  75afb3c53379b05d4affa3ca8d3c08b0974b9f4d
Due: none

docs: fix points layout
  CONTRIBUTING.md
Due: none

docs: add migration points
  MIGRATION.md
Due: none

refactor: remove deprecated evo-alert
  .github/CODEOWNERS
  projects/evo-ui-kit/src/lib/components/evo-alert/evo-alert.component.html
  projects/evo-ui-kit/src/lib/components/evo-alert/evo-alert.component.scss
  projects/evo-ui-kit/src/lib/components/evo-alert/evo-alert.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-alert/evo-alert.component.ts
  projects/evo-ui-kit/src/lib/components/evo-alert/evo-alert.module.ts
  projects/evo-ui-kit/src/lib/components/evo-alert/index.ts
  projects/evo-ui-kit/src/lib/components/evo-alert/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.html
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.scss
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.module.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-alert.scss
  projects/evo-ui-kit/src/lib/styles/main.scss
  projects/evo-ui-kit/src/public_api.ts
  src/stories/components/evo-alert.stories.ts
  src/stories/components/evo-autocomplete.stories.ts
  src/stories/components/evo-upload.stories.ts
Due: npm run lint:ts, npm run lint:styles

refactor: remove deprecated evo-banner
  .github/CODEOWNERS
  MIGRATION.md
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.html
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.scss
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.ts
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.module.ts
  projects/evo-ui-kit/src/lib/components/evo-banner/index.ts
  projects/evo-ui-kit/src/lib/components/evo-banner/public-api.ts
  projects/evo-ui-kit/src/public_api.ts
  src/stories/components/evo-banner.stories.ts
Due: npm run lint:ts, npm run lint:styles

chore(release): 8.0.0-beta.7 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  07e1be1a487c1e28b195ad8f6130bb5846c758e0
Due: none

refactor: remove deprecated evo-button
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button-old/evo-button-old.component.html
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button-old/evo-button-old.component.scss
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button-old/evo-button-old.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button-old/evo-button-old.component.ts
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button/evo-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.module.ts
  projects/evo-ui-kit/src/lib/components/evo-button/public-api.ts
  src/stories/components/evo-button.stories.ts
  src/stories/components/evo-tabs.stories.ts
Due: npm run lint:ts, npm run lint:styles

chore(release): 8.0.0-beta.8 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  f9b3c7abbaab3b9d0cb29cda1486d5fe200a6ef9
Due: none

docs: add info about evo-button deletion [skip ci]
  MIGRATION.md
Due: none

Path conditions:
  npm run lint:ts: any of: *.ts
  npm run lint:styles: any of: *.scss
  **/dist/**: any of: ignore
  stories/**: any of: ignore
