Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

chore(release): 8.0.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  e91d5da43dc73f39709fcc128cebd1b496cf2cd7
Due: none

fix(evo-autocomplete): dropdown with header and footer height calculation
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.scss
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts, npm run lint:styles

Notes added by 'git notes add'
  70b99872c7671ade1d9928a15cebb0a209a0151e
Due: none

chore(release): 7.4.3 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  6eede7ed9ded28f02039b504a40ccc16b68f5215
Due: none

chore(release): 6.9.5 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  df/e02d5303a195a2b1e2e905f86692fb5b7ac86a
Due: none

fix(evo-icon-button): added evo-circular-loader
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.module.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-icon-button): css variable for icon size
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
Due: npm run lint:styles

fix(evo-icon-button): fixed tests
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.spec.ts
Due: npm run lint:ts

fix(evo-dropdown): fixed escape closing
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.html
Due: none

fix(evo-dropdown): noop is default scroll strategy
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
Due: npm run lint:ts

chore(release): 6.9.6 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  72/7b5f71a0d17779d629195526a3e248d8e95d6f
Due: none

fix(evo-dropdown): reverted close default strategy
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
Due: npm run lint:ts

fix(evo-dropdown): close on outside clicked
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.html
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
Due: npm run lint:ts

fix(evo-dropdown): renamed param
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
Due: npm run lint:ts

fix(evo-dropdown): fixed closing on outside click
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
Due: npm run lint:ts

fix(evo-dropdown): reformat code
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.html
Due: none

Path conditions:
  npm run lint:ts: any of: *.ts
  npm run lint:styles: any of: *.scss
  **/dist/**: any of: ignore
  stories/**: any of: ignore
