Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

chore: bump version to 5.84.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-icon-number): add new component
  projects/evo-ui-kit/src/lib/components/evo-icon-number/components/evo-icon-number/evo-icon-number.component.html
  projects/evo-ui-kit/src/lib/components/evo-icon-number/components/evo-icon-number/evo-icon-number.component.scss
  projects/evo-ui-kit/src/lib/components/evo-icon-number/components/evo-icon-number/evo-icon-number.component.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-number/evo-icon-number.module.ts
  src/stories/components/evo-icon-number.stories.ts
Due: npm run lint:ts, npm run lint:styles

Notes added by 'git notes add'
  92/1c8913b12ec1f6268c6b8a349136e29a3c5460
Due: none

chore: bump version to 6.2.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-autocomplete): support multiline, correct font styles
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.scss
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-autocomplete): selected option color, clear code
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.ts
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  projects/evo-ui-kit/src/lib/styles/variables.scss
Due: npm run lint:ts, npm run lint:styles

fix(evo-autocomplete): clear
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
Due: npm run lint:styles

fix(icons): add new icons
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person Add.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person Check.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person Clientcard.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person Customer Details Off.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person Customer Details.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person Group.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person Loyality.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person Owner.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person Profile.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person Self employed.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person Seller.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Personnel.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo 1C.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Android.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Apple.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Chestniy Znak.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Evotor.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Facebook.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo GoMarket.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Instagram.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Linux.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Ok.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo SBER.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo SBP.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Telegram.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Twitter.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Vk.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo WhatsApp.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Windows.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Print.svg
Due: none

Notes added by 'git notes add'
  df/6e345198f318f94f17eb8efd6588e0a77eff91
Due: none

fix(evo-autocomplete): correct tests
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.spec.ts
Due: npm run lint:ts

chore: releaserc update
  projects/evo-ui-kit/.releaserc.json
Due: none

Notes added by 'git notes add'
  d1/4cf076b55b6fae577e21ac255ecbaafcbfb869
Due: none

chore: bump version to 5.84.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  94/e7d9cbd1a299a051aa5536f098bd949a85ead4
Due: none

chore: bump version to 5.85.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-autocomplete): correct alignment
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
Due: npm run lint:styles

Notes added by 'git notes add'
  ed/354c80263ef6b0884cbf55772b34b31f1500dc
Due: none

chore: bump version to 5.85.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-datepicker): input value container width not fit value length
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.html
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
Due: npm run lint:styles

feat(evo-table): add ability to customize rows
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.html
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.ts
Due: npm run lint:ts

feat(evo-datepicker, evo-autocomplete): add css vars for customize datepicker calendar and autocomplete arrow
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  src/stories/components/evo-autocomplete.stories.ts
  src/stories/components/evo-datepicker.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-file-upload): created new component
  projects/evo-ui-kit/src/lib/components/evo-file-upload/components/evo-file-upload/evo-file-upload.component.html
  projects/evo-ui-kit/src/lib/components/evo-file-upload/components/evo-file-upload/evo-file-upload.component.scss
  projects/evo-ui-kit/src/lib/components/evo-file-upload/components/evo-file-upload/evo-file-upload.component.ts
  projects/evo-ui-kit/src/lib/components/evo-file-upload/components/evo-file/evo-file.component.html
  projects/evo-ui-kit/src/lib/components/evo-file-upload/components/evo-file/evo-file.component.scss
  projects/evo-ui-kit/src/lib/components/evo-file-upload/components/evo-file/evo-file.component.ts
  projects/evo-ui-kit/src/lib/components/evo-file-upload/directives/evo-file-upload-drag-n-drop.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-file-upload/enums/evo-file-error.ts
  projects/evo-ui-kit/src/lib/components/evo-file-upload/enums/evo-upload-file-status.ts
  projects/evo-ui-kit/src/lib/components/evo-file-upload/evo-file-upload.module.ts
  projects/evo-ui-kit/src/lib/components/evo-file-upload/index.ts
  projects/evo-ui-kit/src/lib/components/evo-file-upload/interfaces/current-files-info.ts
  projects/evo-ui-kit/src/lib/components/evo-file-upload/interfaces/evo-added-files.ts
  projects/evo-ui-kit/src/lib/components/evo-file-upload/interfaces/evo-upload-file.ts
  projects/evo-ui-kit/src/lib/components/evo-file-upload/interfaces/file-size-info.ts
  projects/evo-ui-kit/src/lib/components/evo-file-upload/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-file-upload/utils/get-accept-array.ts
  projects/evo-ui-kit/src/lib/components/evo-file-upload/utils/get-file-size-info.ts
  projects/evo-ui-kit/src/lib/components/evo-file-upload/utils/is-valid-file-type.ts
  src/app/abstract-file-upload-example/abstract-file-upload-example.component.ts
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/async-file-uploader/async-file-uploader.component.html
  src/app/async-file-uploader/async-file-uploader.component.scss
  src/app/async-file-uploader/async-file-uploader.component.ts
  src/app/sync-file-uploader/sync-file-uploader.component.html
  src/app/sync-file-uploader/sync-file-uploader.component.scss
  src/app/sync-file-uploader/sync-file-uploader.component.ts
  src/tsconfig.app.json
Due: npm run lint:ts, npm run lint:styles

fix(evo-file-upload): fixes added
  projects/evo-ui-kit/src/lib/components/evo-file-upload/components/evo-file-upload/evo-file-upload.component.html
  projects/evo-ui-kit/src/lib/components/evo-file-upload/components/evo-file-upload/evo-file-upload.component.scss
  projects/evo-ui-kit/src/lib/components/evo-file-upload/components/evo-file-upload/evo-file-upload.component.ts
  projects/evo-ui-kit/src/lib/components/evo-file-upload/components/evo-file/evo-file.component.html
  projects/evo-ui-kit/src/lib/components/evo-file-upload/components/evo-file/evo-file.component.scss
  projects/evo-ui-kit/src/lib/components/evo-file-upload/components/evo-file/evo-file.component.ts
  projects/evo-ui-kit/src/lib/components/evo-file-upload/constants/size-unit-map.ts
  projects/evo-ui-kit/src/lib/components/evo-file-upload/directives/evo-file-download.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-file-upload/directives/evo-file-upload-drag-n-drop.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-file-upload/enums/file-size-unit.ts
  projects/evo-ui-kit/src/lib/components/evo-file-upload/evo-file-upload.module.ts
  projects/evo-ui-kit/src/lib/components/evo-file-upload/interfaces/evo-upload-file.ts
  projects/evo-ui-kit/src/lib/components/evo-file-upload/utils/get-file-size-info.ts
  src/app/async-file-uploader/async-file-uploader.component.html
  src/app/async-file-uploader/async-file-uploader.component.ts
  src/app/sync-file-uploader/sync-file-uploader.component.html
Due: npm run lint:ts, npm run lint:styles

fix(evo-autocomplete): rebuild multiple inline options
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts, npm run lint:styles

Notes added by 'git notes add'
  c3/9674ec396947a41100613ba54e847ae0c22bcc
Due: none

chore: bump version to 5.85.2
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Path conditions:
  npm run lint:ts: any of: *.ts
  npm run lint:styles: any of: *.scss
  **/dist/**: any of: ignore
  stories/**: any of: ignore
