Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

feat(evo-paginator): update layout
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.html
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.scss
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.ts
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.module.ts
  projects/evo-ui-kit/src/lib/styles/variables.scss
Due: npm run lint:ts, npm run lint:styles

feat(evo-paginator): update layout
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.html
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.scss
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.ts
  projects/evo-ui-kit/src/lib/styles/variables.scss
Due: npm run lint:ts, npm run lint:styles

feat(evo-input): update design
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/types/evo-input-contenteditable-size.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.scss
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.ts
  projects/evo-ui-kit/src/lib/components/evo-textarea/types/evo-textarea-size.ts
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-input-mixins.scss
  src/stories/components/evo-input-contenteditable.stories.ts
  src/stories/components/evo-textarea.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-input): correct prefix color
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
Due: npm run lint:styles

feat(evo-autocomplete): update paddings
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.scss
Due: npm run lint:styles

fix(evo-input): correct color, clear
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  src/stories/components/evo-input-contenteditable.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-paginator): update styles for large numbers
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.scss
Due: npm run lint:styles

feat(evo-paginator): fix path in stories
  src/stories/components/evo-paginator.stories.ts
Due: npm run lint:ts

fix(evo-input): correct import to see changes in storybook
  src/stories/components/evo-input.stories.ts
  src/stories/components/evo-textarea.stories.ts
Due: npm run lint:ts

fix(evo-input): remove selector duplication
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
Due: npm run lint:styles

fix(evo-input): correct icons sizes, update loader
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.html
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-input): correct icons sizes, update loader
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.html
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.module.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-datepicker): correct height, font
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  src/stories/components/evo-datepicker.stories.ts
Due: npm run lint:ts, npm run lint:styles

chore(release): 6.12.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  23/2f9d104a9eaeab36566b6ec67491ccb139d1bb
Due: none

feat(evo-modal): update code and overload usage
  projects/evo-ui-kit/src/lib/components/evo-modal/classes/EvoConfiguredComponentModalDrawingStrategy.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/classes/EvoConfiguredModalDrawingStrategy.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/classes/EvoConfiguredTemplateModalDrawingStrategy.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/classes/EvoDynamicModalDrawingStrategy.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/classes/EvoModalDrawingStrategy.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/enums.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal-buttons/evo-modal-buttons.component.scss
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal-buttons/evo-modal-buttons.component.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal-portal.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.html
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.scss
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.provider.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.service.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/interfaces.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/tokens.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/utils.ts
Due: npm run lint:ts, npm run lint:styles

chore(release): 8.8.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  2d28c37261e739903bfa63d81f039730be5c1b6a
Due: none

chore: fix deploy to gh pages
  .github/workflows/storybook.yml
Due: none

fix(evo-modal): use proper params values, add stories
  projects/evo-ui-kit/src/lib/components/evo-modal/classes/EvoConfiguredModalDrawingStrategy.ts
  src/stories/components/evo-modal-wrapper/evo-modal-wrapper.component.html
  src/stories/components/evo-modal-wrapper/evo-modal-wrapper.component.ts
  src/stories/components/evo-modal.stories.ts
Due: npm run lint:ts

Path conditions:
  npm run lint:ts: any of: *.ts
  npm run lint:styles: any of: *.scss
  **/dist/**: any of: ignore
  stories/**: any of: ignore
