Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

.lintstagedrc:

{
  "*.ts": ["npm run lint:ts", "git add"],
  "*.scss": ["npm run lint:styles", "git add"],
  "ignore": ["**/dist/**", "stories/**"]
}

ci(release): remove NPM_TOKEN usage
  .github/workflows/release.yml
Due: none

fix(evo-datepicker): use zone on events
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: npm run lint:ts

ci(release): use NODE_AUTH_TOKEN
  .github/workflows/release.yml
Due: none

ci(release): update
  .github/workflows/release.yml
Due: none

ci(release): bring back npm token
  .github/workflows/release.yml
Due: none

chore(release): 6.22.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  41/b80a893aaafca201e8477ac58b9d7f6e41421a
Due: none

fix(icons): add kuper logos
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Kuper 2 Color.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Kuper Outlined.svg
Due: none

chore(release): 6.22.2 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  ef/2c44afb3bcb53672aa4d06070092f5d24b9565
Due: none

chore: actualize codeowners
  .github/CODEOWNERS
Due: none

feat(evo-chip): updated styles
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.html
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.module.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
  src/stories/components/evo-chip.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-chip): updated styles
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.html
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
  src/stories/components/evo-chip.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-counter): use implementation from market
  projects/evo-ui-kit/src/lib/components/evo-counter/components/evo-counter/evo-counter.component.html
  projects/evo-ui-kit/src/lib/components/evo-counter/components/evo-counter/evo-counter.component.scss
  projects/evo-ui-kit/src/lib/components/evo-counter/components/evo-counter/evo-counter.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/components/evo-counter/evo-counter.component.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/enums/evo-counter-size.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.scss
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.module.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/public-api.ts
  src/stories/components/evo-counter.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-counter): use implementation from market
  projects/evo-ui-kit/src/lib/components/evo-counter/components/evo-counter/evo-counter.component.html
  projects/evo-ui-kit/src/lib/components/evo-counter/components/evo-counter/evo-counter.component.scss
  projects/evo-ui-kit/src/lib/components/evo-counter/components/evo-counter/evo-counter.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/components/evo-counter/evo-counter.component.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/enums/evo-counter-size.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.html
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.scss
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.module.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/public-api.ts
  src/stories/components/evo-counter.stories.ts
Due: npm run lint:ts, npm run lint:styles

refactor(evo-chip): use inner css variables
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.html
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
  projects/evo-ui-kit/src/lib/styles/variables.scss
Due: npm run lint:ts, npm run lint:styles

feat(evo-input): made edits
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: npm run lint:ts

Notes added by 'git notes add'
  f5aa764ec8162c6fac78c3b661a3a71b3586cff9
Due: none

chore(release): 8.21.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

chore: actualize migration.md
  MIGRATION.md
Due: none

refactor(evo-chip): change observable completion
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
Due: npm run lint:ts

fix(evo-autocomplete): fix onChange depending on bindValue
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.ts
Due: npm run lint:ts

chore(release): 8.21.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  09c7f3cfa4dc48d7e18b50376736343642e963c5
Due: none

chore: turn off tg notifications
  .github/workflows/release-notify.yml
Due: none

fix: correct release branch
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  4b/ff0374ce6c3a6f0c63c14abcafaedbb3bcb25a
Due: none

chore(release): 6.22.3 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  c1/b84149f7eb9c6cceb230a48ac60453357afdcf
Due: none

Revert "chore: turn off tg notifications"
  .github/workflows/release-notify.yml
Due: none

chore(release): 8.21.2 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  c259b2d690a7ff7f835362493eb2c5cdad40f706
Due: none

Notes added by 'git notes add'
  bf/af2deedf8b114235bb8db681a4656ab99b9732
Due: none

chore(release): 6.22.4 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

style(evo-datepicker): prettify component
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: npm run lint:ts
