Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

docs(evo-autocomplete): update story
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts

fix(evo-autocomplete): fix default notfoundtext for selectbox
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.ts
Due: npm run lint:ts

docs(evo-autocomplete): fix autocomplete stories
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts

fix(styles): add keyframes.scss into main.scss
  projects/evo-ui-kit/src/lib/styles/main.scss
Due: npm run lint:styles

chore(release): 8.0.0-beta.17 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  86511d9a581a558b4cb73aaf3d74d1ce45407941
Due: none

chore(release): 7.4.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  115bfcb6e5fa6ae1c2ab5f8f5a5b74cde523e6fe
Due: none

fix(evo-navbar): add lost id attributes
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar-item/evo-navbar-item.component.html
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar.component.html
Due: none

chore(release): 8.0.0-beta.18 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  6826579943988bbe36f782a529a101ed466d1991
Due: none

feat(evo-textarea): added blur event
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.ts
Due: npm run lint:ts

feat(evo-autocomplete): search fn typed
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
Due: npm run lint:ts

fix(evo-icon-button): removed double colon
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
Due: npm run lint:styles

feat(evo-input): styles for small rounded input
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
Due: npm run lint:styles

feat(evo-icon-button): notification dot
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.ts
  src/stories/components/evo-icon-button.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-input): added to stories
  src/stories/components/evo-input.stories.ts
Due: npm run lint:ts

feat(evo-autocomplete): searchable support for selectbox mode
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts

feat(evo-autocomplete): rebuild options styles
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-default-option/evo-autocomplete-default-option.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-autocomplete): update files structure
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-default-option/evo-autocomplete-default-option.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-default-option/evo-autocomplete-default-option.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-default-option/evo-autocomplete-default-option.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-default-option/evo-autocomplete-default-option.component.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/fixtures.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/evo-autocomplete.module.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/public-api.ts
Due: npm run lint:ts, npm run lint:styles

docs(evo-autocomplete): add group, header, footer stories
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts

feat(evo-autocomplete): add header and footer wrappers
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-footer/evo-autocomplete-footer.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-footer/evo-autocomplete-footer.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-footer/evo-autocomplete-footer.component.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-header/evo-autocomplete-header.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-header/evo-autocomplete-header.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-header/evo-autocomplete-header.component.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/evo-autocomplete.module.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/public-api.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-autocomplete): update styles, fix notFoundText defaults
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-autocomplete): fix default notfoundtext for selectbox
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.ts
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts

chore: fix lint errors
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-footer/evo-autocomplete-footer.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-header/evo-autocomplete-header.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.ts
  projects/evo-ui-kit/src/lib/operators/enter-zone.operator.ts
Due: npm run lint:ts

chore(release): 8.0.0-beta.19 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  40069dd67b2355ec9d00251305ec71c999bf6e52
Due: none

feat(evo-sidebar): add params injector option
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.html
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.html
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.service.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/interfaces.ts
Due: npm run lint:ts

chore(release): 8.0.0-beta.20 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  4cf69660a7044f815e448f0add0aac4f751b9a6d
Due: none

fix(evo-autocomplete): change import paths
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.ts
Due: npm run lint:ts

chore(release): 8.0.0-beta.21 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  92c32ef6ea69f71b95e464db08b96dfaac52901f
Due: none

fix(evo-navbar): incorrect default submenu positioning
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar-item/evo-navbar-item.component.ts
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar.component.ts
Due: npm run lint:ts

chore(release): 8.0.0-beta.22 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  df5a579ac8b25b83a3e5076e425ef0176a3328d9
Due: none

fix(evo-input): fix change detection
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: npm run lint:ts

chore(release): 6.9.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Path conditions:
  npm run lint:ts: any of: *.ts
  npm run lint:styles: any of: *.scss
  **/dist/**: any of: ignore
  stories/**: any of: ignore
