Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

.lintstagedrc:

{
  "*.ts": ["npm run lint:ts", "git add"],
  "*.scss": ["npm run lint:styles", "git add"],
  "ignore": ["**/dist/**", "stories/**"]
}

refactor(evo-icon-button): change usage of evo-icon
  src/stories/components/evo-icon-button.stories.ts
Due: npm run lint:ts

docs(evo-icon): rewrite icons stories
  angular.json
  src/assets/icons/pants.svg
  src/assets/icons/tanktop.svg
  src/stories/components/evo-icons-wrapper/evo-icons-wrapper.component.ts
  src/stories/icons/color-icons.stories.ts
  src/stories/icons/evo-icon.stories.ts
Due: npm run lint:ts

refactor(evo-upload): change usage of evo-icon
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.module.ts
  src/stories/components/evo-upload.stories.ts
Due: npm run lint:ts

refactor(evo-toast): change usage of evo-icon
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.module.ts
  src/stories/components/evo-toast-wrapper/evo-toast-wrapper.component.scss
  src/stories/components/evo-toast.stories.ts
Due: npm run lint:ts, npm run lint:styles

docs(storybook): change sb assets output dir
  .storybook/main.ts
  .storybook/manager.js
Due: npm run lint:ts

refactor(evo-forms): change usage of evo-icon
  src/stories/layout/evo-form.stories.ts
Due: npm run lint:ts

docs: fix stories styles
  angular.json
  src/assets/scss/colors.scss
  src/assets/scss/story-global.scss
  src/stories/components/evo-autocomplete.stories.ts
  src/stories/components/evo-badge.stories.ts
  src/stories/components/evo-button.stories.ts
  src/stories/components/evo-datepicker.stories.ts
  src/stories/components/evo-input-contenteditable.stories.ts
  src/stories/components/evo-input.stories.ts
  src/stories/components/evo-modal.stories.ts
  src/stories/components/evo-navigation-button.stories.ts
  src/stories/layout/evo-card.stories.ts
  src/stories/layout/evo-form.stories.ts
  src/stories/typography/basics.stories.ts
  src/stories/typography/colors.stories.ts
Due: npm run lint:ts, npm run lint:styles

refactor(evo-modal): change usage of evo-icon
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.spec.ts
  src/stories/components/evo-modal-wrapper/evo-modal-wrapper.component.html
  src/stories/components/evo-modal.stories.ts
Due: npm run lint:ts

refactor(evo-note): change usage of evo-icon
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.module.ts
  src/stories/components/evo-note.stories.ts
Due: npm run lint:ts

refactor(evo-input): change usage of evo-icon
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.module.ts
  src/stories/components/evo-input.stories.ts
Due: npm run lint:ts

refactor(evo-sidebar): change usage of evo-icon
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.module.ts
  src/stories/components/evo-sidebar-wrapper/evo-sidebar-wrapper.component.html
  src/stories/components/evo-sidebar-wrapper/evo-sidebar-wrapper.component.ts
  src/stories/components/evo-sidebar.stories.ts
Due: npm run lint:ts

refactor(evo-input-contenteditable): change usage of evo-icon
  src/stories/components/evo-input-contenteditable.stories.ts
Due: npm run lint:ts

chore: group npm scripts for readability
  package.json
Due: none

docs: change readme info
  README.md
Due: none

docs: add autodocs
  .gitignore
  .storybook/main.ts
  .storybook/preview-head.html
  .storybook/preview.ts
  .storybook/tsconfig.json
  .storybook/typings.d.ts
  angular.json
  package-lock.json
  package.json
Due: npm run lint:ts

chore: fix git hooks
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.js
  .prettierrc.js
  commitlint.config.js
  package-lock.json
  package.json
Due: none

docs: fix icon stories
  src/stories/icons/color-icons.stories.ts
  src/stories/icons/evo-icon.stories.ts
Due: npm run lint:ts

feat: change control flow
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.html
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button/evo-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.html
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.html
  projects/evo-ui-kit/src/lib/components/evo-control-error/evo-control-error.component.html
  projects/evo-ui-kit/src/lib/components/evo-control-label/evo-control-label.component.html
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.html
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-icon-number/components/evo-icon-number/evo-icon-number.component.html
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.component.html
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.html
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.html
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar.component.html
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.html
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.html
  projects/evo-ui-kit/src/lib/components/evo-radioshape/components/evo-radioshape.component.html
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.html
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.html
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper-item/evo-stepper-item.component.html
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.html
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.html
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.html
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.html
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.html
  src/stories/components/evo-icons-wrapper/evo-icons-wrapper.component.html
  src/stories/components/evo-table-dynamic-columns/evo-table-dynamic-columns.component.html
  src/stories/components/evo-table-wrapper/evo-table-wrapper.component.html
Due: none

refactor(evo-icon): rewrite to standalone
  MIGRATION.md
  README.md
  angular.json
  gulpfile.js
  projects/evo-ui-kit/src/lib/common/tokens/assets-path.ts
  projects/evo-ui-kit/src/lib/common/tokens/icon-resolver.ts
  projects/evo-ui-kit/src/lib/common/tokens/index.ts
  projects/evo-ui-kit/src/lib/common/tokens/public_api.ts
  projects/evo-ui-kit/src/lib/components/evo-icon/classes/evo-icons-library.ts
  projects/evo-ui-kit/src/lib/components/evo-icon/evo-icon.component.html
  projects/evo-ui-kit/src/lib/components/evo-icon/evo-icon.component.scss
  projects/evo-ui-kit/src/lib/components/evo-icon/evo-icon.component.ts
  projects/evo-ui-kit/src/lib/components/evo-icon/evo-icon.module.ts
  projects/evo-ui-kit/src/lib/components/evo-icon/evo-icon.service.ts
  projects/evo-ui-kit/src/lib/components/evo-icon/interfaces/icon-options.ts
  projects/evo-ui-kit/src/lib/components/evo-icon/public-api.ts
  projects/evo-ui-kit/src/lib/utils/create-token.ts
  projects/evo-ui-kit/src/lib/utils/index.ts
  projects/evo-ui-kit/src/lib/utils/public_api.ts
  projects/evo-ui-kit/src/public_api.ts
  scripts/gulp-config.js
  scripts/gulp-icons-build.js
Due: npm run lint:ts, npm run lint:styles

refactor(evo-chip): change usage of evo-icon
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.module.ts
  src/stories/components/evo-chip.stories.ts
Due: npm run lint:ts

refactor(evo-autocomplete): change usage of evo-icon
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts, npm run lint:styles

refactor(evo-navigation-button): change usage of evo-icon
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/evo-navigation-button.module.ts
  src/stories/components/evo-navigation-button.stories.ts
Due: npm run lint:ts

refactor(evo-accordion): change usage of evo-icon
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.html
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.module.ts
  src/stories/components/evo-accordion.stories.ts
Due: npm run lint:ts

refactor(evo-button): change usage of evo-icon
  src/stories/components/evo-button.stories.ts
Due: npm run lint:ts

refactor(evo-control-label): change usage of evo-icon
  src/stories/components/evo-control-label.stories.ts
Due: npm run lint:ts

docs(evo-tabs): change usage of router module
  src/stories/components/evo-tabs.stories.ts
Due: npm run lint:ts

refactor(evo-autocomplete): migrate to standalone
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/evo-autocomplete.module.ts
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts

refactor(evo-circular-loader): migrate to standalone
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.ts
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-loader.module.ts
Due: npm run lint:ts

refactor(evo-badge): migrate to standalone
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.module.ts
  src/stories/components/evo-badge.stories.ts
Due: npm run lint:ts
