Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

Notes added by 'git notes add'
  97/19ca12648f565886604500c8e5517958176ccc
Due: none

fix(evo-input): fix change detection
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: npm run lint:ts

chore(release): 7.4.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  18ab6c7b7421691cd5fbfaeeae8ccf1c8e206211
Due: none

feat(evo-sidebar): replace EvoSidebarModule on env provider, make service standalone
  MIGRATION.md
  projects/evo-ui-kit/src/lib/components/evo-portal/evo-portal.service.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.html
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.module.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.provider.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.service.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/public-api.ts
  src/stories/components/evo-sidebar-wrapper/evo-sidebar-wrapper.component.ts
  src/stories/components/evo-sidebar.stories.ts
Due: npm run lint:ts

chore(release): 8.0.0-beta.23 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  ecb6ec5d53a562f16e3533c81756a7a3ba74eca7
Due: none

chore(release): 8.0.0-beta.24 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  7bc949945fcf7d175569d4d4f356be2378f13b7f
Due: none

docs(evo-datepicker): fix appearence on mobile
  src/stories/components/evo-datepicker.stories.ts
Due: npm run lint:ts

fix: add icon
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Brand.svg
Due: none

chore(release): 6.9.2 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  d3/f7c5ee613151dc8bd25de6d5e192f023b0db15
Due: none

feat(evo-sidebar): add params injector option
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-content/evo-sidebar-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.html
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.html
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.service.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.token.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/interfaces.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/sidebar-injection-token.ts
Due: npm run lint:ts

fix(evo-sidebar): properly call signal value
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-content/evo-sidebar-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.token.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/sidebar-injection-token.ts
Due: npm run lint:ts

chore(release): 8.0.0-beta.25 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  9a9f624cf0e7f1729b5661cb4df8759ea1dfbf81
Due: none

fix(evo-autocomplete-default-option): correct padding
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-default-option/evo-autocomplete-default-option.component.scss
Due: npm run lint:styles

chore(release): 6.9.3 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  ba/893d486c410c5737bdf741b788a982aa4a7332
Due: none

fix(evo-autocomplete): fix dropdown max height
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.scss
Due: npm run lint:styles

chore(release): 6.9.4 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  7d/ebb59b8092600c86860580b8574a0477610ccc
Due: none

chore(release): 7.4.2 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  70b99872c7671ade1d9928a15cebb0a209a0151e
Due: none

chore(release): 8.0.0-beta.26 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  51ab4219441847f68dc6792a7f777204867de191
Due: none

docs: change path to logo
  .storybook/manager.js
Due: none

docs: remove autodocs
  .storybook/main.ts
  .storybook/preview.ts
Due: npm run lint:ts

chore(release): 8.0.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  65ffaa73c1e3469c3ca9f8bc6a2e932ab14d622f
Due: none

fix(evo-autocomplete): dropdown with header and footer height calculation
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.scss
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts, npm run lint:styles

Path conditions:
  npm run lint:ts: any of: *.ts
  npm run lint:styles: any of: *.scss
  **/dist/**: any of: ignore
  stories/**: any of: ignore
