Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

fix(evo-note): minor
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.html
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.ts
Due: npm run lint:ts

test(evo-note): fix tests
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.spec.ts
Due: npm run lint:ts

Notes added by 'git notes add'
  e1/eed2321bfc3da5fe14063b964507dac7e2f8ed
Due: none

chore: bump version to 5.72.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(package): export evo-note
  projects/evo-ui-kit/src/public_api.ts
Due: npm run lint:ts

fix(evo-note): fix icons import
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.module.ts
Due: npm run lint:ts

Notes added by 'git notes add'
  2d/9dce9a2ef60d4455cb9116771f9c827394e8ae
Due: none

chore: bump version to 5.72.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(directives): add evo-let directive
  projects/evo-ui-kit/src/lib/directives/evo-let/evo-let.directive.spec.ts
  projects/evo-ui-kit/src/lib/directives/evo-let/evo-let.directive.ts
  projects/evo-ui-kit/src/lib/directives/public-api.ts
Due: npm run lint:ts

feat(constants): add view breakpoints streams
  package.json
  projects/evo-ui-kit/src/lib/common/constants/view-breakpoint-streams.ts
  projects/evo-ui-kit/src/public_api.ts
Due: npm run lint:ts

feat(evo-dropdown): add dropdown component
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown-origin.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown-position-description.const.ts
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.html
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.scss
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.module.ts
  projects/evo-ui-kit/src/lib/components/evo-dropdown/index.ts
  projects/evo-ui-kit/src/lib/components/evo-dropdown/public-api.ts
  projects/evo-ui-kit/src/lib/evo-ui-kit.module.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-dropdown.scss
  projects/evo-ui-kit/src/lib/styles/main.scss
  src/stories/components/evo-dropdown.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-navbar): add navbar component
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar.component.html
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar.component.scss
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar.component.ts
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar.module.ts
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navigation-item/evo-navbar-item.component.html
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navigation-item/evo-navbar-item.component.scss
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navigation-item/evo-navbar-item.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navigation-item/evo-navbar-item.component.ts
  projects/evo-ui-kit/src/lib/components/evo-navbar/index.ts
  projects/evo-ui-kit/src/lib/components/evo-navbar/public-api.ts
  projects/evo-ui-kit/src/public_api.ts
  src/stories/components/evo-navbar.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-navbar): review fixes
  projects/evo-ui-kit/src/lib/common/constants/view-breakpoint-streams.ts
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown-origin.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown-position-description.ts
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.html
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.scss
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
  projects/evo-ui-kit/src/lib/components/evo-dropdown/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-dropdown/types/evo-dropdown-positions.ts
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar-item/evo-navbar-item.component.html
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar-item/evo-navbar-item.component.scss
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar-item/evo-navbar-item.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar-item/evo-navbar-item.component.ts
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar.component.scss
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar.component.ts
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar.module.ts
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navigation-item/evo-navbar-item.component.scss
  projects/evo-ui-kit/src/lib/components/evo-navbar/interfaces/nav-item-main-info.ts
  projects/evo-ui-kit/src/lib/components/evo-navbar/interfaces/nav-item-router-link.ts
  projects/evo-ui-kit/src/lib/components/evo-navbar/interfaces/nav-item.href.ts
  projects/evo-ui-kit/src/lib/components/evo-navbar/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-navbar/types/nav-item.ts
Due: npm run lint:ts, npm run lint:styles

build: add cdk styles
  angular.json
Due: none

build: yarn.lock
  yarn.lock
Due: none

Notes added by 'git notes add'
  aa/66a9ccc56622f57004cf1955a382bfcdc22b20
Due: none

chore: bump version to 5.73.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-paginator): when near the end - last page hidden
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.html
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.ts
  src/stories/components/evo-paginator.stories.ts
Due: npm run lint:ts

Notes added by 'git notes add'
  65/49051ee691fcb8139ab47832e5a038ed6b5fae
Due: none

chore: bump version to 5.73.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-input-contenteditable): fix display prop
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.component.scss
Due: npm run lint:styles

Notes added by 'git notes add'
  a2/928700bc98636830719d63bc6a03579b4fe33f
Due: none

chore: bump version to 5.73.2
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-toast): fix change detection for toast
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.ts
Due: npm run lint:ts

Notes added by 'git notes add'
  f1/8395fb4b5b049363ba8c28ddf09797a6bbdbbc
Due: none

chore: bump version to 5.73.3
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(scss): add skeleton styles to main.scss
  projects/evo-ui-kit/src/lib/styles/components/skeleton.scss
  projects/evo-ui-kit/src/lib/styles/keyframes.scss
  projects/evo-ui-kit/src/lib/styles/main.scss
Due: npm run lint:styles

Notes added by 'git notes add'
  1a/a0120e3a68c1702cfb0a9cb86cb601fe72b2cf
Due: none

chore: bump version to 5.74.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(package): fix dependencies after merge
  package-lock.json
  package.json
Due: none

fix(evo-sidebar): fix tests, rename abstract class
  projects/evo-ui-kit/src/lib/components/evo-sidebar/classes/abstract-sidebar-child-component.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/classes/abstract-sidebar-section-component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-content/evo-sidebar-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-footer/evo-sidebar-footer.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.service.ts
Due: npm run lint:ts

test(evo-note): minor
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.spec.ts
Due: npm run lint:ts

test(evo-sidebar): minor
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
Due: npm run lint:ts

build: switch to public packages
  package-lock.json
  package.json
Due: none

style: switch to public configuration packages
  .eslintrc.json
  .prettierrc.js
Due: none

fix(evo-sidebar): fix abstractions
  projects/evo-ui-kit/src/lib/components/evo-sidebar/classes/abstract-sidebar-child-component.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-host-provider.service.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/interfaces.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/tokens.ts
Due: npm run lint:ts

ci: pull_request update
  .github/workflows/pull_request.yml
Due: none

build: update ng-select version
  package.json
Due: none

build: update ng-select version
  package-lock.json
Due: none

build: update @ngneat/spectator version
  package-lock.json
  package.json
Due: none

Path conditions:
  npm run lint:ts: any of: *.ts
  npm run lint:styles: any of: *.scss
  **/dist/**: any of: ignore
  stories/**: any of: ignore
