Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

.lintstagedrc:

{
  "*.ts": ["npm run lint:ts", "git add"],
  "*.scss": ["npm run lint:styles", "git add"],
  "ignore": ["**/dist/**", "stories/**"]
}

chore: bump version to 5.77.2
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-autocomplete): add clear template input variable
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.html
Due: none

Notes added by 'git notes add'
  c5/e2d4e9999bdb927e90de0399fd53d01145cd85
Due: none

chore: bump version to 5.78.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-autocomplete): add autocomplete size small
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/types/evo-autocomplete-size.ts
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-autocomplete): add autocomplete size small
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts, npm run lint:styles

Notes added by 'git notes add'
  b9/e598997282322df7fa8fd6c873f414ad8cd6dc
Due: none

chore: bump version to 5.79.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(icons): add monochrome icons
  projects/evo-ui-kit/src/svg/monochrome-icons/Navigation/Arrow Northeast.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Navigation/Arrow Southwest.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/Bookshelf.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Crown.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Evotor.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo WhatsApp.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Volume Off.svg
Due: none

Notes added by 'git notes add'
  bb/6ef5d657b97f54b03f9b3fa5d7f30f3b01ccc5
Due: none

chore: bump version to 5.80.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-upload): must hide files in 'choose' folder if accept field filled
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
Due: npm run lint:ts

fix(evo-upload): files in 'choose' folder
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.spec.ts
Due: npm run lint:ts

fix(evo-upload): files in 'choose' folder
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.html
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
Due: npm run lint:ts

Revert "fix(evo-upload): files in 'choose' folder"
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.spec.ts
Due: npm run lint:ts

Notes added by 'git notes add'
  0d/61d429171aba3a5deacbb1bc29038b90735abd
Due: none

chore: bump version to 5.80.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-upload): remove checking mime in validators
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.html
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
Due: npm run lint:ts

Revert "fix(evo-upload): remove checking mime in validators"
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.html
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
Due: npm run lint:ts

feat(evo-dropdown): added close on scroll
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
Due: npm run lint:ts

feat(icons): add monochrome icons
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Password.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Sale Options.svg
Due: none

Notes added by 'git notes add'
  16/3d32fc446745ed9ae6ed2adef5bc91d2f8f55c
Due: none

chore: bump version to 5.81.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-navbar): add ability to change subMenuPositions
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar.component.html
Due: none

Notes added by 'git notes add'
  6d/633d95f8aa79cde5213fc7bbb8691355c863d8
Due: none

chore: bump version to 5.81.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(icons): add monochrome icons
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Login.svg
Due: none

Notes added by 'git notes add'
  7f/df9e1ee724046bdfc3c1b1f50aee1de58e40fe
Due: none

chore: bump version to 5.82.0
  projects/evo-ui-kit/CHANGELOG.md
Due: none

test(evo-chip): fix tests
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
Due: npm run lint:ts

Notes added by 'git notes add'
  b3/df3a646e2ca067cd9f99bc9b1ddd7b5449e886
Due: none

chore: bump version to 5.83.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-tooltip): added component
  projects/evo-ui-kit/src/lib/components/evo-tooltip/constants/evo-tooltip-config.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/constants/evo-tooltip-connected-position.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/constants/evo-tooltip-default-positions-order.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/constants/evo-tooltip-fadein.animation.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/constants/evo-tooltip-offset.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/constants/evo-tooltip-priority-positions-order.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/enums/evo-tooltip-position.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.html
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.module.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/index.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/interfaces/evo-tooltip-config.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/interfaces/evo-tooltip-styles.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/stories/evo-tooltip-story.scss
  projects/evo-ui-kit/src/lib/components/evo-tooltip/types/evo-tooltip-position-type.ts
  projects/evo-ui-kit/src/public_api.ts
  src/stories/components/evo-tooltip.stories.ts
Due: npm run lint:ts, npm run lint:styles

Revert "Revert "fix(evo-upload): remove checking mime in validators""
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.html
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
Due: npm run lint:ts

build: update notify script
  .github/scripts/notify-telegram.sh
Due: none

Revert "Revert "fix(evo-upload): files in 'choose' folder""
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.spec.ts
Due: npm run lint:ts

Notes added by 'git notes add'
  45/ea5a826d97a556340fcfd22ce15da21ac16b3a
Due: none

chore: bump version to 5.83.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

ci: debug
  .github/scripts/notify-telegram.sh
Due: none
