Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

.lintstagedrc:

{
  "*.ts": ["npm run lint:ts", "git add"],
  "*.scss": ["npm run lint:styles", "git add"],
  "ignore": ["**/dist/**", "stories/**"]
}

feat: update karma, jasmine
  package-lock.json
  package.json
  projects/evo-ui-kit/polyfills.js
Due: none

fix: storybook tsconfig fix
  .storybook/tsconfig.json
  src/stories/index.ts
Due: npm run lint:ts

fix: prettier config
  .prettierrc.js
Due: none

feat: update prettier plugin
  package-lock.json
  package.json
Due: none

feat: update eslint rules
  .eslintrc.json
Due: none

fix: fix after linting
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal-buttons/evo-modal-buttons.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
Due: npm run lint:ts

feat: new member ordering rules + prettier for json
  .eslintrc.json
  .prettierignore
  .prettierrc.js
Due: none

feat(evo-scroll-strategies): observe scroll per anchor ancestor and reuse CDK reposition
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-close-scroll-strategy.ts
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-reposition-scroll-strategy.spec.ts
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-reposition-scroll-strategy.ts
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-scroll-strategy-options.ts
  projects/evo-ui-kit/src/lib/common/scroll/interfaces/evo-close-scroll-strategy-params.ts
  projects/evo-ui-kit/src/lib/common/scroll/interfaces/evo-scroll-strategy-params.ts
  projects/evo-ui-kit/src/lib/common/scroll/utils/create-scroll-stream.ts
  projects/evo-ui-kit/src/lib/common/scroll/utils/get-scrollable-ancestors.spec.ts
  projects/evo-ui-kit/src/lib/common/scroll/utils/get-scrollable-ancestors.ts
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
Due: npm run lint:ts

fix(create-scroll-stream): fixed stream params
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-reposition-scroll-strategy.spec.ts
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-reposition-scroll-strategy.ts
  projects/evo-ui-kit/src/lib/common/scroll/utils/create-scroll-stream.ts
Due: npm run lint:ts

fix: align published manifest and tooling with ng20 migration
  .eslintrc.json
  package.json
  projects/evo-ui-kit/karma.conf.js
  projects/evo-ui-kit/ng-package.json
  projects/evo-ui-kit/package.json
Due: none

feat: sync library major to Angular 20
  .nvmrc
Due: none

chore(release): 20.0.0-beta.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  695ad5d2a35e4fd78663003e091ea9a640f3572d
Due: none

feat(evo-scroll-strategies): reuse CDK reposition with per-anchor scroll observation
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-close-scroll-strategy.ts
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-reposition-scroll-strategy.ts
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-scroll-strategy-options.ts
  projects/evo-ui-kit/src/lib/common/scroll/interfaces/evo-close-scroll-strategy-params.ts
  projects/evo-ui-kit/src/lib/common/scroll/interfaces/evo-scroll-strategy-params.ts
  projects/evo-ui-kit/src/lib/common/scroll/utils/create-scroll-stream.ts
  projects/evo-ui-kit/src/lib/common/scroll/utils/get-scrollable-ancestors.ts
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.html
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
Due: npm run lint:ts

test(evo-scroll-strategies): cover reposition and scrollable ancestors
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-reposition-scroll-strategy.spec.ts
  projects/evo-ui-kit/src/lib/common/scroll/utils/get-scrollable-ancestors.spec.ts
Due: npm run lint:ts

test(evo-scroll-strategies): deflake reposition spec via injectable scheduler
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-reposition-scroll-strategy.spec.ts
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-reposition-scroll-strategy.ts
Due: npm run lint:ts

fix(evo-icon-button): remove dead theme binding causing NG0303 in tests
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.ts
Due: npm run lint:ts

test(evo-scroll-strategies): deflake reposition spec
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-reposition-scroll-strategy.spec.ts
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-reposition-scroll-strategy.ts
Due: npm run lint:ts

test(evo-scroll-strategies): pin stub overlay in viewport to deflake autoClose
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-reposition-scroll-strategy.spec.ts
Due: npm run lint:ts

chore(release): 6.25.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  71/e69e28611e5d2b71c95d66c4a25a36e832adb2
Due: none

chore(release): 19.1.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  2ea0e3c3e6bcefed7a5b8a9fa8ee2f173d85bc3f
Due: none

revert(release): undo erroneous 19.1.0 release
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

chore(release): 8.25.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  779d7bb5c63738fe4219901dfbfe2ebe687442ff
Due: none

feat(evo-scroll-strategies): port MRK-4890 to ng20 (beta)
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-close-scroll-strategy.ts
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-reposition-scroll-strategy.spec.ts
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-reposition-scroll-strategy.ts
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-scroll-strategy-options.ts
  projects/evo-ui-kit/src/lib/common/scroll/index.ts
  projects/evo-ui-kit/src/lib/common/scroll/interfaces/evo-scroll-strategy-params.ts
  projects/evo-ui-kit/src/lib/common/scroll/interfaces/scroll-position.ts
  projects/evo-ui-kit/src/lib/common/scroll/types/evo-scroll-strategy.ts
  projects/evo-ui-kit/src/lib/common/scroll/utils/create-scroll-stream.ts
  projects/evo-ui-kit/src/lib/common/scroll/utils/get-scrollable-ancestors.spec.ts
  projects/evo-ui-kit/src/lib/common/scroll/utils/get-scrollable-ancestors.ts
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.html
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/enums/evo-tooltip-style-variable.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/enums/evo-tooltip-variable-arrow-position.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.html
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.module.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/interfaces/evo-tooltip-config.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/interfaces/evo-tooltip-styles.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/interfaces/tooltip-arrow-calc-params.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/utils/get-tooltip-arrow-offset.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/utils/get-tooltip-arrow-offset.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/utils/get-tooltip-connected-positions.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/utils/get-tooltip-positions-order.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/utils/get-tooltip-positions-order.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-tooltip-trigger.scss
  projects/evo-ui-kit/src/lib/styles/main.scss
  projects/evo-ui-kit/src/public_api.ts
Due: npm run lint:ts, npm run lint:styles

chore(release): 20.0.0-beta.2 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  dff710637f075cd75e8f818c8095854f374324f1
Due: none

feat(evo-tabs): allow configuring active link matching
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
  src/stories/components/evo-tabs.stories.ts
Due: npm run lint:ts

fix(evo-tabs): normalize active match options
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
Due: npm run lint:ts

chore(release): 8.26.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  8e39ef6e1f61e98d24ebc503714b8492dee4249a
Due: none

chore(release): 20.0.0-beta.3 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  c01e3bac50687fc9abd1a43718d73bf84bc7809f
Due: none

perf(evo-checkbox): use OnPush change detection
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.ts
Due: npm run lint:ts
