Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

Notes added by 'git notes add'
  b4/70f83fe5f003b160e607c8eb45315dfee8c97a
Due: none

chore: bump version to 5.86.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-datepicker): fix range theme markup
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  src/stories/components/evo-datepicker.stories.ts
Due: npm run lint:ts, npm run lint:styles

Notes added by 'git notes add'
  33/12f833289c23373e526601905c621a3516858b
Due: none

chore: bump version to 5.86.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-icon-number): export evo-icon-number
  projects/evo-ui-kit/src/lib/components/evo-icon-number/index.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-number/public-api.ts
  projects/evo-ui-kit/src/public_api.ts
Due: npm run lint:ts

fix(icons): add new icons
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person Add.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person Check.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person Clientcard.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person Customer Details Off.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person Customer Details.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person Group.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person Loyality.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person Owner.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person Profile.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person Self employed.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person Seller.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Person.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Personnel.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo 1C.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Android.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Apple.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Chestniy Znak.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Evotor.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Facebook.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo GoMarket.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Instagram.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Linux.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Ok.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo SBER.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo SBP.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Telegram.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Twitter.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Vk.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo WhatsApp.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Logo Windows.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Print.svg
Due: none

chore: releaserc update
  projects/evo-ui-kit/.releaserc.json
Due: none

feat(evo-autocomplete): support multiline, correct font styles
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.scss
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-autocomplete): selected option color, clear code
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.ts
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  projects/evo-ui-kit/src/lib/styles/variables.scss
Due: npm run lint:ts, npm run lint:styles

fix(evo-autocomplete): clear
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
Due: npm run lint:styles

fix(evo-autocomplete): correct tests
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.spec.ts
Due: npm run lint:ts

fix(evo-autocomplete): correct alignment
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
Due: npm run lint:styles

fix(evo-autocomplete): rebuild multiple inline options
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-datepicker): input value container width not fit value length
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.html
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
Due: npm run lint:styles

feat(evo-table): add ability to customize rows
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.html
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.ts
Due: npm run lint:ts

feat(evo-datepicker, evo-autocomplete): add css vars for customize datepicker calendar and autocomplete arrow
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  src/stories/components/evo-autocomplete.stories.ts
  src/stories/components/evo-datepicker.stories.ts
Due: npm run lint:ts, npm run lint:styles

Notes added by 'git notes add'
  c3/141162510bb51440bf4a175d099871cf329b0b
Due: none

chore: bump version to 6.3.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-dropdown): fixed escape closing
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.html
Due: none

fix(evo-dropdown): noop is default scroll strategy
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
Due: npm run lint:ts

ci: storybook pages test
  .github/workflows/storybook.yml
Due: none

ci: fix node version
  .github/workflows/storybook.yml
Due: none

ci: add build step
  .github/workflows/storybook.yml
Due: none

docs: add storybook link
  README.md
Due: none

build: disable npm audit
  .npmrc
Due: none

ci: remove test branch from storybook action
  .github/workflows/storybook.yml
Due: none

chore(ng): update to v13
  .gitignore
  .npmrc
  angular.json
  package-lock.json
  package.json
  projects/evo-ui-kit/package.json
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/helpers/switch-query-to-list.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover-story.scss
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.ts
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-dropdown.scss
  projects/evo-ui-kit/src/test.ts
  projects/evo-ui-kit/tsconfig.lib.prod.json
  scripts/gulp-icons-build.js
  src/generated/color-icons.ts
  src/polyfills.ts
  src/stories/components/evo-popover.stories.ts
  src/stories/layout/evo-card.stories.scss
  src/stories/layout/evo-card.stories.ts
  tsconfig.json
Due: npm run lint:ts, npm run lint:styles

Notes added by 'git notes add'
  60/9eecd2475e55712db64116ec34f28823238bea
Due: none

chore: bump version to 7.0.0
  projects/evo-ui-kit/.releaserc.json
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix: add necessary dependencies
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  14/48bda3d3b68337696fc2493805d8a27957bb80
Due: none

chore: bump version to 7.0.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix: build and bump version to 7.0.2
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  a5/aaf0c571dd23a9d11f72a4acdaf67a4c5d5ce7
Due: none

feat(variables): update colors
  projects/evo-ui-kit/src/lib/styles/variables.scss
Due: npm run lint:styles

Path conditions:
  npm run lint:ts: any of: *.ts
  npm run lint:styles: any of: *.scss
  **/dist/**: any of: ignore
  stories/**: any of: ignore
