Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

.lintstagedrc:

{
  "*.ts": ["npm run lint:ts", "git add"],
  "*.scss": ["npm run lint:styles", "git add"],
  "ignore": ["**/dist/**", "stories/**"]
}

feat(evo-dropdown): use scroll strategies in dropdown
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.html
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
Due: npm run lint:ts

feat(evo-tooltip): use scroll strategies in tooltip
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/interfaces/evo-tooltip-config.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
Due: npm run lint:ts

feat(app): add test environment
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/test-sidebar/test-sidebar.component.html
  src/app/test-sidebar/test-sidebar.component.scss
  src/app/test-sidebar/test-sidebar.component.spec.ts
  src/app/test-sidebar/test-sidebar.component.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-scroll-strategies): created strategies
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-close-scroll-strategy.ts
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-reposition-scroll-strategy.ts
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-scroll-strategy-options.ts
  projects/evo-ui-kit/src/lib/common/scroll/index.ts
  projects/evo-ui-kit/src/lib/common/scroll/interfaces/evo-close-scroll-strategy-params.ts
  projects/evo-ui-kit/src/lib/common/scroll/interfaces/scroll-position.ts
  projects/evo-ui-kit/src/lib/common/scroll/types/evo-scroll-strategy.ts
  projects/evo-ui-kit/src/lib/common/scroll/utils/create-scroll-stream.ts
  projects/evo-ui-kit/src/public_api.ts
Due: npm run lint:ts

feat(evo-navbar): add ui states
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar-item/evo-navbar-item.component.html
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar-item/evo-navbar-item.component.scss
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar-item/evo-navbar-item.component.ts
  projects/evo-ui-kit/src/lib/components/evo-navbar/interfaces/nav-item-main-info.ts
  src/stories/components/evo-navbar.stories.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-navbar-item): disable on tab + enter
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar-item/evo-navbar-item.component.html
Due: none

fix(evo-navbar-item): add border on tab focus
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar-item/evo-navbar-item.component.scss
Due: npm run lint:styles

chore(release): 8.24.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  bbbac8079bdcb88b5d47c73f455e270cec2bd29c
Due: none

refactor(evo-scroll-strategies): centralize strategy selection and provide options in root
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-scroll-strategy-options.ts
  projects/evo-ui-kit/src/lib/common/scroll/utils/create-scroll-stream.ts
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/utils/get-tooltip-arrow-offset.spec.ts
Due: npm run lint:ts

refactor(evo-dropdown): clean up scroll-strategy wiring
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.html
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
Due: npm run lint:ts

refactor(evo-table): OnPush, typed API, a11y and dynamic columns support
  MIGRATION.md
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table-column/evo-table-column.component.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.html
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.scss
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.ts
  src/stories/components/evo-table.stories.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-table): avoid NG0955 duplicated track keys
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.html
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.ts
Due: npm run lint:ts

fix(evo-table): restore dynamic-columns story by importing FormsModule
  src/stories/components/evo-table.stories.ts
Due: npm run lint:ts

chore(release): 8.24.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  928a3183a9562f14835e1c0e09840c7048006dea
Due: none

fix(evo-sidebar): resolve dynamic component deps via passed injector's environment
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
Due: npm run lint:ts

chore(release): 8.24.2 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  5100fdc7344c73e48208019f85cf44f528306eac
Due: none

feat(package): remove ngx-page-scroll
  package.json
  projects/evo-ui-kit/src/lib/evo-ui-kit.module.ts
Due: npm run lint:ts

fix(package): update package-lock
  package-lock.json
Due: none

feat(package): remove front-tools-config lib
  package-lock.json
  package.json
Due: none

feat: update to angular v18
  package-lock.json
  package.json
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-icon/evo-icon.service.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.spec.ts
Due: npm run lint:ts

feat: update to @angular/cdk@18
  package-lock.json
  package.json
Due: none

feat: update to @angular/cdk@19
  package-lock.json
  package.json
Due: none

feat: update to angular v20
  angular.json
  package-lock.json
  package.json
  projects/evo-ui-kit/karma.conf.js
  projects/evo-ui-kit/tsconfig.lib.json
  tsconfig.json
Due: none

feat: update to @angualr/cdk@20
  package-lock.json
  package.json
Due: none

feat: update to @ng-select/ng-select@20
  package-lock.json
  package.json
Due: none

feat: update to @angular-eslint/*@20
  package-lock.json
  package.json
Due: none

feat: update to @commitlint/*@20
  package-lock.json
  package.json
Due: none

feat: set node version 22
  package.json
Due: none

feat: update to storybook v9
  package-lock.json
  package.json
Due: none

feat: update storybook and tests (wip)
  .storybook/main.ts
  .storybook/manager.js
  package-lock.json
  package.json
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs-size.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.spec.ts
  src/stories/components/evo-checkbox.stories.ts
  src/stories/components/evo-input-contenteditable.stories.ts
  src/stories/components/evo-input.stories.ts
  src/stories/components/evo-note.stories.ts
  src/stories/components/evo-paginator.stories.ts
  src/stories/components/evo-table.stories.ts
Due: npm run lint:ts

feat: update @ngneat/spectator@20
  package-lock.json
  package.json
Due: none

feat: update spectator tests
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.spec.ts
Due: npm run lint:ts

fix: stories and storybook
  .storybook/main.ts
  .storybook/tsconfig.json
  angular.json
  src/stories/components/evo-icons-wrapper/evo-icons-wrapper.component.ts
  src/stories/components/evo-stepper.stories.ts
  src/stories/components/evo-table-dynamic-columns/evo-table-dynamic-columns.component.ts
  src/stories/components/evo-table-wrapper/evo-table-wrapper.component.ts
  src/stories/components/evo-tabs.stories.ts
  src/stories/components/evo-toast-wrapper/evo-toast-wrapper.component.ts
Due: npm run lint:ts
