Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

.lintstagedrc:

{
  "*.ts": ["npm run lint:ts", "git add"],
  "*.scss": ["npm run lint:styles", "git add"],
  "ignore": ["**/dist/**", "stories/**"]
}

chore(release): 8.8.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  9d0e7d6140d9e61c0567155b25939cf361668ecb
Due: none

chore(release): 8.9.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  be9580ca0bb8735b1256399d6f08ae8bb5d7316a
Due: none

Notes added by 'git notes add'
  ec2ec8affeafeff44959a552d5a2e9c91fc75ba1
Due: none

chore(release): 7.6.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(color-icons): add color icons
  projects/evo-ui-kit/src/svg/color-icons/Alert Triangle.svg
  projects/evo-ui-kit/src/svg/color-icons/Assortiment.svg
  projects/evo-ui-kit/src/svg/color-icons/Bank.svg
  projects/evo-ui-kit/src/svg/color-icons/Battery.svg
  projects/evo-ui-kit/src/svg/color-icons/Cash.svg
  projects/evo-ui-kit/src/svg/color-icons/Check.svg
  projects/evo-ui-kit/src/svg/color-icons/Document Signed.svg
  projects/evo-ui-kit/src/svg/color-icons/Document.svg
  projects/evo-ui-kit/src/svg/color-icons/Eye Off.svg
  projects/evo-ui-kit/src/svg/color-icons/Gift.svg
  projects/evo-ui-kit/src/svg/color-icons/Gym.svg
  projects/evo-ui-kit/src/svg/color-icons/Money.svg
  projects/evo-ui-kit/src/svg/color-icons/Newspaper.svg
  projects/evo-ui-kit/src/svg/color-icons/Number.svg
  projects/evo-ui-kit/src/svg/color-icons/Rocket.svg
  projects/evo-ui-kit/src/svg/color-icons/Sad.svg
  projects/evo-ui-kit/src/svg/color-icons/Shop.svg
  projects/evo-ui-kit/src/svg/color-icons/Terminal Size.svg
  projects/evo-ui-kit/src/svg/color-icons/USB.svg
Due: none

feat(evo-navigation-tabs): new tabs
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tab.directive.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tab.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.component.html
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.component.scss
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.module.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/index.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/types/evo-tabs-size.ts
  projects/evo-ui-kit/src/lib/services/mutation-observer.service.ts
  projects/evo-ui-kit/src/lib/services/router-link-active.service.ts
  projects/evo-ui-kit/src/lib/utils/observables/zone-free.ts
  projects/evo-ui-kit/src/lib/utils/tokens/animation-frame.ts
  src/generated/color-icons.ts
  src/stories/components/evo-navigation-tabs.stories.ts
Due: npm run lint:ts, npm run lint:styles

chore(release): 8.10.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  ef1f51f844cbfab7f554b8397696ef6697d3d0b0
Due: none

chore(release): 6.13.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  72/12d13f465bd82639430f0b1babedfe9e124dcd
Due: none

chore(release): 7.7.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  276f1b5ea62c84dbbafc9720d47dfa9928ad7748
Due: none

feat(evo-navigation-tabs): new tabs
  src/stories/components/evo-navigation-tabs.stories.ts
Due: npm run lint:ts

feat(evo-navigation-tabs): new tabs
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tab.directive.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tab.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.component.html
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.component.scss
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.module.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/index.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/types/evo-tabs-size.ts
  projects/evo-ui-kit/src/lib/services/mutation-observer.service.ts
  projects/evo-ui-kit/src/lib/services/router-link-active.service.ts
  projects/evo-ui-kit/src/lib/utils/observables/zone-free.ts
  projects/evo-ui-kit/src/lib/utils/tokens/animation-frame.ts
  src/stories/components/evo-navigation-tabs.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(typography): new styles added
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-text-paragraph-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/_typography.scss
  src/stories/typography/basics.stories.ts
Due: npm run lint:ts, npm run lint:styles

chore(release): 8.11.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  2cdbeba07b2bf1b50d7a9e2d9d5599f0c85bc849
Due: none

chore(release): 6.14.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  ec/becfc4685bf7b96a18c8a9487142b081966f3d
Due: none

chore(release): 7.8.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  7e74d23786b63fcf45fb172bd007a8a17c53aba7
Due: none

feat(evo-navigation-tabs): new tabs
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.component.html
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.component.scss
Due: npm run lint:styles

fix(evo-modal): changed events handlers
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.html
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.ts
Due: npm run lint:ts

fix(evo-modal): changed events handlers
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.html
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.spec.ts
Due: npm run lint:ts

fix(evo-modal): fixed test
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.spec.ts
Due: npm run lint:ts

chore(release): 8.11.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  a76c1f563dea739d9c382ba06c9e088e10cbbaea
Due: none

chore(release): 6.14.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  0d/c1fc74234df90e10f96c8c6aa22ade930a81e1
Due: none

chore(release): 7.8.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  5997860d3b35a32bf352dd7d406bfa49a57a1279
Due: none

feat(evo-autocomplete): arrow color changed
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.scss
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts, npm run lint:styles
