Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

.lintstagedrc:

{
  "*.ts": ["npm run lint:ts", "git add"],
  "*.scss": ["npm run lint:styles", "git add"],
  "ignore": ["**/dist/**", "stories/**"]
}

build: update publish script
  package.json
Due: none

Notes added by 'git notes add'
  4b/f324353dfb5b133e0f3915e94e6dfee991ee84
Due: none

chore: bump version to 6.0.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

chore: bump version to 6.0.1
  projects/evo-ui-kit/package.json
Due: none

fix(evo-sidebar): right provider config
  .gitignore
  package-lock.json
  package.json
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
  src/stories/components/evo-sidebar-wrapper/evo-sidebar-wrapper.component.ts
Due: npm run lint:ts

feat(icons): add monochrome icons
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Document Filled.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Edit Rounded.svg
Due: none

chore: change release config
  projects/evo-ui-kit/.releaserc.json
Due: none

Notes added by 'git notes add'
  96/24330acd6ad8c4e1d2e9c1226627a415c3da55
Due: none

chore: bump version to 6.1.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

chore(ng): update to v13
  .gitignore
  .npmrc
  angular.json
  package-lock.json
  package.json
  projects/evo-ui-kit/package.json
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover-story.scss
  projects/evo-ui-kit/src/test.ts
  scripts/gulp-icons-build.js
  src/generated/color-icons.ts
  src/polyfills.ts
  src/stories/components/evo-popover.stories.ts
  src/stories/layout/evo-card.stories.scss
  src/stories/layout/evo-card.stories.ts
  tsconfig.json
Due: npm run lint:ts, npm run lint:styles

Revert "chore: bump version to 6.0.1"
  projects/evo-ui-kit/package.json
Due: none

Revert "chore: bump version to 6.0.0"
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Revert "build: update publish script"
  package.json
Due: none

Revert "build: icons update"
  src/generated/color-icons.ts
Due: npm run lint:ts

fix(evo-icon-button): size property
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/types/evo-icon-button-size.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-icon-button): size property
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-icon-button): size property; storybook
  src/stories/components/evo-icon-button.stories.ts
Due: npm run lint:ts

Notes added by 'git notes add'
  59/ba49f50e228de35c8455db98c24af3b459b76d
Due: none

chore: bump version to 5.83.3
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  f2/08ed598b0e873b53f716535b8f1a0227a73bf8
Due: none

chore: bump version to 6.1.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-icon-number): add new component
  projects/evo-ui-kit/src/lib/components/evo-icon-number/components/evo-icon-number/evo-icon-number.component.html
  projects/evo-ui-kit/src/lib/components/evo-icon-number/components/evo-icon-number/evo-icon-number.component.scss
  projects/evo-ui-kit/src/lib/components/evo-icon-number/components/evo-icon-number/evo-icon-number.component.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-number/evo-icon-number.module.ts
  src/stories/components/evo-icon-number.stories.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-upload): restore 5.80.0 version of upload
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
Due: npm run lint:ts

chore: bump version to 5.83.2
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  ad/22628d25632a65af985c67c3a69cec3388ba29
Due: none

feat(evo-icon-number): export evo-icon-number
  projects/evo-ui-kit/src/lib/components/evo-icon-number/index.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-number/public-api.ts
  projects/evo-ui-kit/src/public_api.ts
Due: npm run lint:ts

Notes added by 'git notes add'
  df/6e345198f318f94f17eb8efd6588e0a77eff91
Due: none
