Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

fix(evo-tooltip): fixed arrow logic
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.ts
Due: npm run lint:ts

fix(evo-tooltip): fixed behavior and tests
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/enums/evo-tooltip-style-variable.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/enums/evo-tooltip-variable-arrow-position.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/interfaces/evo-tooltip-styles.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-tooltip): stories added
  projects/evo-ui-kit/src/lib/components/evo-tooltip/public-api.ts
  src/stories/components/evo-tooltip.stories.ts
Due: npm run lint:ts

feat(evo-tooltip): stories added
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
Due: npm run lint:ts

feat(evo-tooltip): fixed subscription and scroll strategies added to config
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/interfaces/evo-tooltip-config.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/types/evo-tooltip-scroll-strategy.ts
Due: npm run lint:ts

fix(evo-tooltip): fixed behavior
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-tooltip): added service to public api
  projects/evo-ui-kit/src/lib/components/evo-tooltip/public-api.ts
Due: npm run lint:ts

feat(evo-tooltip-config): added scroll strategy to config
  projects/evo-ui-kit/src/lib/components/evo-tooltip/constants/evo-tooltip-config.ts
Due: npm run lint:ts

refactor(evo-tooltip): tooltip as standalone and use signals
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.html
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.module.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.spec.ts
Due: npm run lint:ts

feat(evo-tooltip-trigger): use styles
  projects/evo-ui-kit/src/lib/styles/components/evo-tooltip-trigger.scss
  projects/evo-ui-kit/src/lib/styles/main.scss
Due: npm run lint:styles

fix(evo-input): remove onTouch on focus, add test
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: npm run lint:ts

chore(release): 8.23.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  3ad34296ca52e6acdbd23953f69c6f1b0fff3232
Due: none

feat(evo-scroll-strategies): created strategies
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-close-scroll-strategy.ts
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-reposition-scroll-strategy.ts
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-scroll-strategy-options.ts
  projects/evo-ui-kit/src/lib/common/scroll/index.ts
  projects/evo-ui-kit/src/lib/common/scroll/interfaces/evo-close-scroll-strategy-params.ts
  projects/evo-ui-kit/src/lib/common/scroll/interfaces/scroll-position.ts
  projects/evo-ui-kit/src/lib/common/scroll/types/evo-scroll-strategy.ts
  projects/evo-ui-kit/src/lib/common/scroll/utils/create-scroll-stream.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/types/evo-tooltip-scroll-strategy.ts
  projects/evo-ui-kit/src/public_api.ts
Due: npm run lint:ts

feat(evo-scroll-strategies): create reposition and close scroll strategies
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-close-scroll-strategy.ts
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-reposition-scroll-strategy.ts
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-scroll-strategy-options.ts
  projects/evo-ui-kit/src/lib/common/scroll/index.ts
  projects/evo-ui-kit/src/lib/common/scroll/interfaces/evo-close-scroll-strategy-params.ts
  projects/evo-ui-kit/src/lib/common/scroll/interfaces/scroll-position.ts
  projects/evo-ui-kit/src/lib/common/scroll/types/evo-scroll-strategy.ts
  projects/evo-ui-kit/src/lib/common/scroll/utils/create-scroll-stream.ts
  projects/evo-ui-kit/src/public_api.ts
Due: npm run lint:ts

feat(evo-tooltip): use scroll strategies in tooltip
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/interfaces/evo-tooltip-config.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
Due: npm run lint:ts

feat(evo-scroll-strategies): integrate strategies into tooltip and dropdown
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.html
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/interfaces/evo-tooltip-config.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
Due: npm run lint:ts

feat(evo-dropdown): use scroll strategies in dropdown
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.html
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
Due: npm run lint:ts

feat(evo-tooltip-trigger): use styles in main
  projects/evo-ui-kit/src/lib/styles/components/evo-tooltip-trigger.scss
  projects/evo-ui-kit/src/lib/styles/main.scss
Due: npm run lint:styles

feat(evo-tooltip): stories added
  src/stories/components/evo-tooltip.stories.ts
Due: npm run lint:ts

refactor(evo-tooltip): rework tooltip with extracted position logic
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/enums/evo-tooltip-style-variable.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/enums/evo-tooltip-variable-arrow-position.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/interfaces/evo-tooltip-styles.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/interfaces/tooltip-arrow-calc-params.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/utils/get-tooltip-arrow-offset.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/utils/get-tooltip-arrow-offset.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/utils/get-tooltip-connected-positions.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/utils/get-tooltip-positions-order.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/utils/get-tooltip-positions-order.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-tooltip-trigger.scss
  projects/evo-ui-kit/src/lib/styles/main.scss
  src/stories/components/evo-tooltip.stories.ts
Due: npm run lint:ts, npm run lint:styles

refactor(evo-tooltip): close tooltip inside directive
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
Due: npm run lint:ts

feat(evo-tooltip): added touchstart handler
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
Due: npm run lint:ts

fix(evo-tooltip): fixed arrow position logic
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/enums/evo-tooltip-style-variable.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/enums/evo-tooltip-variable-arrow-position.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/interfaces/evo-tooltip-styles.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.spec.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-tooltip): fix tests
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/interfaces/tooltip-arrow-calc-params.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/utils/get-tooltip-arrow-offset.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/utils/get-tooltip-arrow-offset.ts
Due: npm run lint:ts

refactor(evo-tooltip-service): isolate position logic in utils
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/utils/get-tooltip-connected-positions.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/utils/get-tooltip-positions-order.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/utils/get-tooltip-positions-order.ts
Due: npm run lint:ts

refactor(evo-tooltip): close tooltip inside directive
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
Due: npm run lint:ts

refactor(evo-tooltip): rework as standalone with signals
  MIGRATION.md
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar-item/evo-navbar-item.component.html
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar-item/evo-navbar-item.component.scss
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar-item/evo-navbar-item.component.ts
  projects/evo-ui-kit/src/lib/components/evo-navbar/interfaces/nav-item-main-info.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table-column/evo-table-column.component.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.html
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.scss
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/enums/evo-tooltip-style-variable.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/enums/evo-tooltip-variable-arrow-position.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.html
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.module.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/interfaces/evo-tooltip-styles.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/interfaces/tooltip-arrow-calc-params.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/utils/get-tooltip-arrow-offset.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/utils/get-tooltip-arrow-offset.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/utils/get-tooltip-connected-positions.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/utils/get-tooltip-positions-order.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/utils/get-tooltip-positions-order.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-tooltip-trigger.scss
  projects/evo-ui-kit/src/lib/styles/main.scss
  src/stories/components/evo-navbar.stories.ts
  src/stories/components/evo-table.stories.ts
  src/stories/components/evo-tooltip.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-scroll-strategies): created strategies
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-close-scroll-strategy.ts
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-reposition-scroll-strategy.ts
  projects/evo-ui-kit/src/lib/common/scroll/classes/evo-scroll-strategy-options.ts
  projects/evo-ui-kit/src/lib/common/scroll/index.ts
  projects/evo-ui-kit/src/lib/common/scroll/interfaces/evo-close-scroll-strategy-params.ts
  projects/evo-ui-kit/src/lib/common/scroll/interfaces/scroll-position.ts
  projects/evo-ui-kit/src/lib/common/scroll/types/evo-scroll-strategy.ts
  projects/evo-ui-kit/src/lib/common/scroll/utils/create-scroll-stream.ts
  projects/evo-ui-kit/src/public_api.ts
Due: npm run lint:ts

Path conditions:
  npm run lint:ts: any of: *.ts
  npm run lint:styles: any of: *.scss
  **/dist/**: any of: ignore
  stories/**: any of: ignore
