Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

feat(styles): add typographic mixins, update main font
  .storybook/preview-head.html
  README.md
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.scss
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.scss
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.scss
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.scss
  projects/evo-ui-kit/src/lib/components/evo-submenu/evo-submenu.component.scss
  projects/evo-ui-kit/src/lib/components/evo-switcher/evo-switcher.component.scss
  projects/evo-ui-kit/src/lib/styles/components/evo-button.scss
  projects/evo-ui-kit/src/lib/styles/components/evo-title.scss
  projects/evo-ui-kit/src/lib/styles/globals.scss
  projects/evo-ui-kit/src/lib/styles/main.scss
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  projects/evo-ui-kit/src/lib/styles/partials/_typography.scss
  projects/evo-ui-kit/src/lib/styles/partials/fonts.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_typography-caption-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_typography-field-typo-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_typography-header-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_typography-header-mobile-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_typography-paragraph-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_typography-subtitle-mixin.scss
  src/assets/scss/typography-basics.scss
  src/index.html
  src/stories/typography/basics.stories.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-icon): update shape on input changes
  projects/evo-ui-kit/src/lib/components/evo-icon/evo-icon.component.ts
  src/stories/components/evo-icon.stories.ts
Due: npm run lint:ts

fix(typography): rename mixins and CSS-variables
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.scss
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.scss
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.scss
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.scss
  projects/evo-ui-kit/src/lib/components/evo-submenu/evo-submenu.component.scss
  projects/evo-ui-kit/src/lib/components/evo-switcher/evo-switcher.component.scss
  projects/evo-ui-kit/src/lib/styles/components/evo-button.scss
  projects/evo-ui-kit/src/lib/styles/components/evo-title.scss
  projects/evo-ui-kit/src/lib/styles/globals.scss
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  projects/evo-ui-kit/src/lib/styles/partials/_typography.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_evo-text-caption-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_evo-text-field-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_evo-text-header-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_evo-text-mobile-header-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_evo-text-paragraph-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_evo-text-subtitle-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_evo-text-tips-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_typography-header-mobile-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_typography-subtitle-mixin.scss
  src/assets/scss/typography-basics.scss
  src/stories/typography/basics.stories.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-control-error): use typography mixin
  projects/evo-ui-kit/src/lib/components/evo-control-error/evo-control-error.component.scss
Due: npm run lint:styles

fix(evo-control-label): use typography mixin
  projects/evo-ui-kit/src/lib/components/evo-control-label/evo-control-label.component.scss
Due: npm run lint:styles

fix(evo-icon-button): use typography mixin
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
Due: npm run lint:styles

fix(evo-chip): use typography mixin
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
Due: npm run lint:styles

fix(scss): fix mixins imports structure
  projects/evo-ui-kit/src/lib/components/evo-control-error/evo-control-error.component.scss
  projects/evo-ui-kit/src/lib/components/evo-control-label/evo-control-label.component.scss
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  projects/evo-ui-kit/src/lib/styles/partials/_media-mixins.scss
  projects/evo-ui-kit/src/lib/styles/partials/_typography.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_evo-text-header-mixin.scss
Due: npm run lint:styles

fix(scss): fix mixins imports structure
  projects/evo-ui-kit/src/lib/styles/globals.scss
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-input-mixins.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-text-caption-mixin.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-text-field-mixin.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-text-header-mixin.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-text-mobile-header-mixin.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-text-paragraph-mixin.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-text-subtitle-mixin.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-text-tips-mixin.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_media-mixins.scss
  projects/evo-ui-kit/src/lib/styles/partials/_fonts.scss
Due: npm run lint:styles

docs(evo-accordion): fix accordion story
  src/stories/components/evo-accordion.stories.ts
Due: npm run lint:ts

fix(evo-badge): use typography mixin
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
Due: npm run lint:styles

docs: deprecation warnings
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.ts
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.module.ts
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-loader.component.ts
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar-button/evo-segmented-bar-button.component.ts
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar.module.ts
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar/evo-segmented-bar.component.ts
  projects/evo-ui-kit/src/lib/components/evo-submenu/evo-submenu.component.ts
  projects/evo-ui-kit/src/lib/components/evo-submenu/evo-submenu.module.ts
  src/stories/components/evo-alert.stories.ts
  src/stories/components/evo-banner.stories.ts
  src/stories/components/evo-loader.stories.ts
  src/stories/components/evo-segmented-bar.stories.ts
  src/stories/components/evo-submenu.stories.ts
Due: npm run lint:ts

feat(evo-navigation-button): add back button
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/evo-navigation-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/evo-navigation-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/evo-navigation-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/evo-navigation-button.component.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/evo-navigation-button.module.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/index.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/public-api.ts
  projects/evo-ui-kit/src/public_api.ts
  src/stories/components/evo-navigation-button.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(scss): add $hover param to table-row mixin
  projects/evo-ui-kit/src/lib/styles/components/evo-table.scss
Due: npm run lint:styles

docs: update story-global
  src/assets/scss/story-global.scss
  src/assets/scss/typography-basics.scss
  src/stories/typography/basics.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-button): add new EvoButtonComponent
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button-color-shape-crutches-mixin.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button-colors-mixin.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button-custom-color-mixin.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button-shapes-mixin.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button-sizes-shapes-mixin.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button.functions.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button.variables.scss
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button-old/evo-button-old.component.html
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button-old/evo-button-old.component.scss
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button-old/evo-button-old.component.ts
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button/evo-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button/evo-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button/evo-button.component.ts
  projects/evo-ui-kit/src/lib/components/evo-button/constants/evo-button-themes-map.ts
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.module.ts
  projects/evo-ui-kit/src/lib/components/evo-button/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-color.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-shape.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-size.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-theme-params.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-theme.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/index.ts
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  src/stories/components/evo-button.stories.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-icon-button): mark as deprecated
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/evo-navigation-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/evo-navigation-button.component.spec.ts
  src/stories/components/evo-icon-button.stories.ts
Due: npm run lint:ts, npm run lint:styles

docs: update icons stories, fix assets
  src/stories/components/evo-alert.stories.ts
  src/stories/components/evo-banner.stories.ts
  src/stories/components/evo-button.stories.ts
  src/stories/components/evo-loader.stories.ts
  src/stories/components/evo-segmented-bar.stories.ts
  src/stories/components/evo-submenu.stories.ts
  src/stories/icons/color-icons.stories.ts
  src/stories/icons/evo-icon.stories.ts
Due: npm run lint:ts

fix(evo-navigation-button): fix story styles
  src/stories/components/evo-navigation-button.stories.ts
Due: npm run lint:ts

docs: update evo-button story
  src/stories/components/evo-button.stories.ts
Due: npm run lint:ts

fix(evo-navigation-button): style hover, active states
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/evo-navigation-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/evo-navigation-button.component.scss
Due: npm run lint:styles

docs: use evoButton instead of evo-button
  src/stories/components/evo-accordion.stories.ts
  src/stories/components/evo-autocomplete.stories.ts
  src/stories/components/evo-chip.stories.ts
  src/stories/components/evo-dropdown.stories.ts
  src/stories/components/evo-input-contenteditable.stories.ts
  src/stories/components/evo-input.stories.ts
  src/stories/components/evo-modal-wrapper/evo-modal-wrapper.component.html
  src/stories/components/evo-modal-wrapper/evo-modal-wrapper.component.ts
  src/stories/components/evo-modal.stories.ts
  src/stories/components/evo-radio.stories.ts
  src/stories/components/evo-segmented-bar.stories.ts
  src/stories/components/evo-select.stories.ts
  src/stories/components/evo-sidebar-wrapper/evo-sidebar-wrapper.component.html
  src/stories/components/evo-stepper.stories.ts
  src/stories/components/evo-table.stories.ts
  src/stories/components/evo-textarea.stories.ts
  src/stories/components/evo-toast-wrapper/evo-toast-wrapper.component.html
  src/stories/components/evo-toggle.stories.ts
  src/stories/components/evo-upload.stories.ts
  src/stories/icons/evo-icon.stories.ts
  src/stories/layout/evo-card.stories.ts
  src/stories/layout/evo-form.stories.ts
Due: npm run lint:ts

feat(evo-button): add tests, update markup
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button.functions.scss
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button-old/evo-button-old.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button/evo-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button/evo-button.component.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-modal): add params, use evoButton instead of evo-button
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.html
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.ts
Due: npm run lint:ts

feat(evo-upload): use evoButton instead of evo-button
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.html
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.spec.ts
Due: npm run lint:ts

style(evo-loader): codestyle evo-circular-loader
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.ts
Due: npm run lint:ts

test: use evoButton in tests
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.spec.ts
Due: npm run lint:ts

fix(evo-autocomplete-default-option): remove incorrect color
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.scss
Due: npm run lint:styles

docs: update evo-navigation-button.stories.ts
  src/stories/components/evo-navigation-button.stories.ts
Due: npm run lint:ts

fix(scripts): fix monochrome icons names gen
  scripts/gulp-icons-build.js
Due: none

fix: add icons
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Go to chat.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Go to minichat.svg
Due: none

fix(evo-checkbox): mark check on set value
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.ts
Due: npm run lint:ts

fix(evo-checkbox): mark check on set disable
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.ts
Due: npm run lint:ts

fix(evo-checkbox): detect changes on set value / disable
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.ts
Due: npm run lint:ts

fix(evo-input): detect changes on set value / disable
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: npm run lint:ts

fix(scss): add evo-text-button mixin
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-text-button-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/_typography.scss
  src/stories/typography/basics.stories.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-button): use evo-text-button mixin
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button-custom-color-mixin.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button-sizes-shapes-mixin.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button.functions.scss
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button/evo-button.component.scss
  src/stories/components/evo-button.stories.ts
Due: npm run lint:ts, npm run lint:styles

docs: update stories
  src/assets/scss/story-global.scss
  src/stories/components/evo-button.stories.ts
Due: npm run lint:ts, npm run lint:styles

chore: add homepage and repository info
  projects/evo-ui-kit/package.json
Due: none

chore: fix tests
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-alert/evo-alert.component.spec.ts
Due: npm run lint:ts

Path conditions:
  npm run lint:ts: any of: *.ts
  npm run lint:styles: any of: *.scss
  **/dist/**: any of: ignore
  stories/**: any of: ignore
