Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

fix(evo-autocomplete): bug demo
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.ts
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.module.ts
Due: npm run lint:ts, npm run lint:styles

feat(icons): add monochrome icons
  projects/evo-ui-kit/src/svg/monochrome-icons/Navigation/Double Arrow Down.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Navigation/Double Arrow Left.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Navigation/Double Arrow Right.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Navigation/Double Arrow Up.svg
Due: none

chore(release): 8.19.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  175b8bd7d1bd627b5006e022788abc0c08e0610d
Due: none

chore(release): 7.14.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  74a1b2ec84bf3da345456e35db75de53c57adeae
Due: none

chore(release): 6.20.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  5f/df8c0b3ff873fffde3bddf2d5140c6e183262f
Due: none

feat(icons): add monochrome icon
  projects/evo-ui-kit/src/svg/monochrome-icons/Navigation/Minimize.svg
Due: none

chore(release): 6.21.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  da/0a919bdf48a92734c148b949e6a6d7cb474f23
Due: none

chore(release): 6.19.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
Due: none

chore(release): 8.20.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  ad842054124e830fa2d5e8bf336d6985f2973d2d
Due: none

chore(release): 7.15.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  5b014e4d670bbf57ca73766f7a1a039508f375f1
Due: none

fix(evo-autocomplete): add markForCheck
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.ts
Due: npm run lint:ts

chore(release): 6.22.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  a6/bed35123609458fbc01a243ac754b652c72f37
Due: none

feat(evo-quantity): add component
  projects/evo-ui-kit/src/lib/components/evo-quantity/enums/evo-quantity-size.ts
  projects/evo-ui-kit/src/lib/components/evo-quantity/enums/input-mode.ts
  projects/evo-ui-kit/src/lib/components/evo-quantity/evo-quantity.component.html
  projects/evo-ui-kit/src/lib/components/evo-quantity/evo-quantity.component.scss
  projects/evo-ui-kit/src/lib/components/evo-quantity/evo-quantity.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-quantity/evo-quantity.component.ts
  projects/evo-ui-kit/src/lib/components/evo-quantity/evo-quantity.module.ts
  projects/evo-ui-kit/src/lib/components/evo-quantity/index.ts
  projects/evo-ui-kit/src/lib/components/evo-quantity/public-api.ts
  projects/evo-ui-kit/src/public_api.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-quantity): add component
  projects/evo-ui-kit/src/lib/components/evo-quantity/enums/evo-quantity-size.ts
  projects/evo-ui-kit/src/lib/components/evo-quantity/enums/input-mode.ts
  projects/evo-ui-kit/src/lib/components/evo-quantity/evo-quantity.component.html
  projects/evo-ui-kit/src/lib/components/evo-quantity/evo-quantity.component.scss
  projects/evo-ui-kit/src/lib/components/evo-quantity/evo-quantity.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-quantity/evo-quantity.component.ts
  projects/evo-ui-kit/src/lib/components/evo-quantity/index.ts
  projects/evo-ui-kit/src/lib/components/evo-quantity/public-api.ts
  projects/evo-ui-kit/src/public_api.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-quantity): add component
  projects/evo-ui-kit/src/lib/components/evo-quantity/enums/evo-quantity-size.ts
  projects/evo-ui-kit/src/lib/components/evo-quantity/evo-quantity.component.scss
  projects/evo-ui-kit/src/lib/components/evo-quantity/evo-quantity.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-quantity/evo-quantity.component.ts
  projects/evo-ui-kit/src/lib/components/evo-quantity/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-quantity/types/evo-quantity-size.ts
  projects/evo-ui-kit/src/lib/components/evo-quantity/types/evo-quantity-theme.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-quantity): add component
  projects/evo-ui-kit/src/lib/components/evo-quantity/enums/evo-quantity-size.ts
  projects/evo-ui-kit/src/lib/components/evo-quantity/evo-quantity.component.scss
  projects/evo-ui-kit/src/lib/components/evo-quantity/evo-quantity.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-quantity/evo-quantity.component.ts
  projects/evo-ui-kit/src/lib/components/evo-quantity/public-api.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-quantity): add component
  projects/evo-ui-kit/src/lib/components/evo-quantity/evo-quantity.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-quantity/evo-quantity.component.ts
Due: npm run lint:ts

feat(evo-quantity): add component
  projects/evo-ui-kit/src/lib/components/evo-quantity/evo-quantity.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-quantity/types/evo-quantity-size.ts
  projects/evo-ui-kit/src/lib/components/evo-quantity/types/evo-quantity-theme.ts
Due: npm run lint:ts

fix(evo-autocomplete): fix set and write value
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.ts
Due: npm run lint:ts

fix(evo-autocomplete): fix change event
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.ts
Due: npm run lint:ts

fix(evo-datepicker): use zone on events
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: npm run lint:ts

Path conditions:
  npm run lint:ts: any of: *.ts
  npm run lint:styles: any of: *.scss
  **/dist/**: any of: ignore
  stories/**: any of: ignore
