Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

fix(evo-textarea): minor
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.ts
Due: npm run lint:ts

chore(release): 7.13.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  cb463d67186fd036bd290247b251f7c3425956e9
Due: none

fix(evo-textarea): default value
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.ts
Due: npm run lint:ts

chore(release): 6.19.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  6f/f62dd9bc3126ece81edbd1f3f046c3dbed6807
Due: none

chore(release): 8.18.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  c85d9f18758c72418f8f6b1b4a1fb2e324531365
Due: none

feat(evo-chip): add large size and restyling
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.html
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.module.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
  src/stories/components/evo-chip.stories.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-chip-stories): fixed layout
  src/stories/components/evo-chip.stories.ts
Due: npm run lint:ts

feat(evo-chip): add large size and restyling
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.html
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
  src/generated/color-icons.ts
  src/stories/components/evo-chip.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-chip): styles for checkbox states
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
Due: npm run lint:styles

fix(evo-chip-stories): fixed layout
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
  src/stories/components/evo-chip.stories.ts
Due: npm run lint:ts

feat(evo-chip): styles for checkbox states
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.html
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
Due: npm run lint:styles

fix(evo-chip-stories): removed extra form groups
  src/stories/components/evo-chip.stories.ts
Due: npm run lint:ts

feat(evo-chip): customization
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
  src/stories/components/evo-chip.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-button): remove old mixin
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button-shapes-mixin.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button-sizes-shapes-mixin.scss
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button/evo-button.component.scss
Due: npm run lint:styles

feat(evo-button): style icon type button
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button-sizes-shapes-mixin.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button.functions.scss
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button/evo-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button/evo-button.component.ts
  src/stories/components/evo-button.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-button): style icon type button
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button-sizes-shapes-mixin.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button.functions.scss
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button/evo-button.component.ts
  src/stories/components/evo-button.stories.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-button): remove unused, correct story
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button/evo-button.component.ts
  src/stories/components/evo-button.stories.ts
Due: npm run lint:ts

fix(evo-button): correct paddings
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button-sizes-shapes-mixin.scss
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button/evo-button.component.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-button): clear
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button/evo-button.component.ts
Due: npm run lint:ts

fix(evo-autocomplete): bug demo
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.ts
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.module.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-chip): updated styles
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.html
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.module.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
  src/stories/components/evo-chip.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-chip): updated styles
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.html
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
  src/stories/components/evo-chip.stories.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-chip): used self-closing tags
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.html
Due: none

Path conditions:
  npm run lint:ts: any of: *.ts
  npm run lint:styles: any of: *.scss
  **/dist/**: any of: ignore
  stories/**: any of: ignore
