Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

.lintstagedrc:

{
  "*.ts": ["npm run lint:ts", "git add"],
  "*.scss": ["npm run lint:styles", "git add"],
  "ignore": ["**/dist/**", "stories/**"]
}

Notes added by 'git notes add'
  ee/48f0e2a4d2ee500b50ca6c6ba5f0c6674d3d4b
Due: none

chore(release): 6.17.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-textarea): made edits
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.scss
Due: npm run lint:styles

feat(evo-textarea): made edits
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.html
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.scss
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-textarea): made edits
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.html
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.scss
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.ts
Due: npm run lint:ts, npm run lint:styles

chore(release): 8.13.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  99f548de2c39462d2cc28e33bd191601b6978b28
Due: none

fix(evo-tooltip): fix export
  projects/evo-ui-kit/src/public_api.ts
Due: npm run lint:ts

chore(release): 8.13.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  500035d3567da21cfed1f6d81ff41869fa74c242
Due: none

chore(release): 7.11.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  30f9bae1b3619e12de7ce74315f91378a6d3efe5
Due: none

chore(release): 6.17.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  ba/1f628b69f7342909e13c6c1b6b052bada3d0cf
Due: none

fix(evo-navigation-tabs): add export
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/types/evo-navigation-tabs-size.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/types/evo-tabs-size.ts
  projects/evo-ui-kit/src/public_api.ts
  src/stories/components/evo-navigation-tabs.stories.ts
Due: npm run lint:ts

chore(release): 6.17.2 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  60/3a94b24bf4ea2dc8f4f200d1a6830f3476ad84
Due: none

fix(evo-navigation-tabs): rename props, add tab interface
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.component.html
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/interfaces/evo-navigation-tab.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/public-api.ts
  src/stories/components/evo-navigation-tabs.stories.ts
Due: npm run lint:ts

chore(release): 6.17.3 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  d0/f90a28e1f59e8d01d45e4c1f048dcd6284f7ca
Due: none

feat(evo-textarea): made edits
  projects/evo-ui-kit/src/lib/common/evo-base-control.ts
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.html
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.scss
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.ts
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.module.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-textarea): made edits
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.html
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.module.ts
Due: npm run lint:ts

feat(evo-textarea): made edits
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.html
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.ts
Due: npm run lint:ts

fix(fix): remove onChange from writeValue
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.ts
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.html
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.ts
Due: npm run lint:ts

fix(fix): remove onChange from writeValue
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.ts
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.html
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.ts
Due: npm run lint:ts

fix(fix): remove onChange from writeValue
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.ts
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.spec.ts
Due: npm run lint:ts

fix(evo-tooltip): fixed behavior
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-tooltip): fixed behavior and tests
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/enums/evo-tooltip-style-variable.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/enums/evo-tooltip-variable-arrow-position.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/interfaces/evo-tooltip-styles.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
Due: npm run lint:ts, npm run lint:styles

chore(release): 6.18.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  3e/38c9b03ad0ca9767c3ced1bd28b7b0e906ee8d
Due: none
