Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

.lintstagedrc:

{
  "*.ts": ["npm run lint:ts", "git add"],
  "*.scss": ["npm run lint:styles", "git add"],
  "ignore": ["**/dist/**", "stories/**"]
}

feat(evo-input-mixins): added hover styles
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-input-mixins.scss
Due: npm run lint:styles

feat(evo-autocomplete): arrow color changed
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.scss
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-navigation-tabs): new tabs
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tab.directive.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tab.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.component.html
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.component.scss
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.module.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/index.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/types/evo-tabs-size.ts
  projects/evo-ui-kit/src/lib/services/mutation-observer.service.ts
  projects/evo-ui-kit/src/lib/services/router-link-active.service.ts
  projects/evo-ui-kit/src/lib/utils/observables/zone-free.ts
  projects/evo-ui-kit/src/lib/utils/tokens/animation-frame.ts
  src/generated/color-icons.ts
  src/stories/components/evo-navigation-tabs.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-navigation-tabs): new tabs
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tab.directive.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tab.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.component.html
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.spec.ts
  src/generated/color-icons.ts
Due: npm run lint:ts

chore(release): 8.12.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  998f4716a1aa2dadc674e9f682d148d431468381
Due: none

chore(release): 6.15.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  9a/c74a58e95cb4e97be7b8b48f360b41184859ef
Due: none

chore(release): 7.9.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  059a9e917279356f5a0ee4125fdcf98730a01d10
Due: none

Revert "EVOMRKT-7845: Компоненты: пересмотреть компонент табов (v6)"
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tab.directive.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tab.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.component.html
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.component.scss
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.module.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/index.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/types/evo-tabs-size.ts
  projects/evo-ui-kit/src/lib/services/mutation-observer.service.ts
  projects/evo-ui-kit/src/lib/services/router-link-active.service.ts
  projects/evo-ui-kit/src/lib/utils/observables/zone-free.ts
  projects/evo-ui-kit/src/lib/utils/tokens/animation-frame.ts
  src/stories/components/evo-navigation-tabs.stories.ts
Due: npm run lint:ts, npm run lint:styles

chore(release): 6.16.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  1c/48c5b00a3e4b60f57727fd61fbf7250628f866
Due: none

feat(evo-tooltip): new tooltip
  projects/evo-ui-kit/src/lib/components/evo-tooltip/assets/evo-tooltip-global.scss
  projects/evo-ui-kit/src/lib/components/evo-tooltip/constants/evo-tooltip-arrow-size.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/constants/evo-tooltip-config.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/constants/evo-tooltip-connected-position.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/constants/evo-tooltip-default-positions-order.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/constants/evo-tooltip-fadein.animation.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/constants/evo-tooltip-offset.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/constants/evo-tooltip-priority-positions-order.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/constants/evo-tooltip-radius.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/directives/evo-tooltip.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/enums/evo-tooltip-position.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/enums/evo-tooltip-variable-arrow-position.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.html
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/evo-tooltip.module.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/index.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/interfaces/evo-tooltip-config.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/interfaces/evo-tooltip-styles.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/services/evo-tooltip.service.ts
  projects/evo-ui-kit/src/lib/components/evo-tooltip/types/evo-tooltip-position-type.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-navigation-tabs): new tabs
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.component.html
  projects/evo-ui-kit/src/lib/components/evo-navigation-tabs/evo-navigation-tabs.component.scss
Due: npm run lint:styles

feat(evo-textarea): made edits
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.html
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.ts
Due: npm run lint:ts

feat(evo-textarea): made edits
  projects/evo-ui-kit/src/lib/common/evo-base-control.ts
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.html
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.ts
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.module.ts
Due: npm run lint:ts

feat(evo-textarea): made edits
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.html
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.scss
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.ts
  projects/evo-ui-kit/src/lib/components/evo-textarea/types/evo-textarea-size.ts
Due: npm run lint:ts, npm run lint:styles

Notes added by 'git notes add'
  ca2f3333fb6d57e465ea1c6d16ee0b230a0e270b
Due: none

chore(release): 7.10.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-link-button): add component
  projects/evo-ui-kit/src/lib/components/evo-link-button/evo-link-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-link-button/evo-link-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-link-button/evo-link-button.component.ts
  projects/evo-ui-kit/src/lib/components/evo-link-button/evo-link-button.module.ts
  projects/evo-ui-kit/src/lib/components/evo-link-button/index.ts
  projects/evo-ui-kit/src/lib/components/evo-link-button/public-api.ts
  projects/evo-ui-kit/src/lib/styles/keyframes.scss
  projects/evo-ui-kit/src/public_api.ts
  src/stories/components/evo-link-button.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-link-button): use signals
  projects/evo-ui-kit/src/lib/components/evo-link-button/evo-link-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-link-button/evo-link-button.component.ts
Due: npm run lint:ts

feat(evo-textarea): made edits
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.ts
Due: npm run lint:ts

chore(release): 7.11.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  0621457447826a1d42408a037369d45d8cbe83d8
Due: none
