Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

docs(evo-autocomplete): document the appendTo panel and show it in Storybook
  MIGRATION.md
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts

docs: record how styles reach nodes a library moves out of the component
  docs/decisions/architecture/portal-styles-via-marker-class.md
Due: none

docs: write the decision record header as a list so the gate guard reads it
  docs/decisions/architecture/portal-styles-via-marker-class.md
Due: none

fix(evo-autocomplete): forward a marker class to the appended dropdown panel
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.spec.ts
Due: npm run lint:ts

fix(evo-autocomplete): style the dropdown panel through the marker class
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.scss
Due: npm run lint:styles

refactor(evo-autocomplete): hoist the option mixin and the css props to the top level
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.scss
Due: npm run lint:styles

test(evo-autocomplete): compare computed styles of the appended and inline panels
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.spec.ts
Due: npm run lint:ts

test(evo-autocomplete): tear the appended panel down through change detection
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.spec.ts
Due: npm run lint:ts

docs(evo-autocomplete): name the searchable field for what it does
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts

chore(release): 8.28.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  fbbb0a6072a0e9976cd7e2d5ae813956cfbbd48c
Due: none

chore(release): 20.0.0-beta.8 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  c8d04e675fc2d5a251ee9729a9b5c35fb6730e4f
Due: none

docs: describe repository canon in AGENTS.md
  AGENTS.md
  CLAUDE.md
Due: none

Ревизия правил репозитория ui-kit
  .claude/rules/coverage-artifact-on-disk.md
  .claude/rules/display-state-in-signals.md
  .claude/rules/makefile-gate-target-standalone.md
  .claude/rules/prettier-js-separate-commit.md
  .claude/rules/public-css-specificity.md
  .claude/rules/third-party-behaviour-verify-in-browser.md
  .claude/rules/third-party-callbacks-on-instance-hooks.md
Due: none

refactor(evo-counter-size): use type instead enum
  projects/evo-ui-kit/src/lib/components/evo-counter/components/evo-counter/evo-counter.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/components/evo-counter/evo-counter.component.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/enums/evo-counter-size.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/types/evo-counter-size.ts
  src/stories/components/evo-counter.stories.ts
Due: npm run lint:ts

fix(evo-textarea): mark for check on control status changes
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.ts
Due: npm run lint:ts

fix(evo-textarea): review changes
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.ts
Due: npm run lint:ts

fix(evo-textarea): mark for check on control events
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.ts
Due: npm run lint:ts

chore(release): 8.28.2 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  1ff9a271ffd67645d7d5929dd3661e5075ca099f
Due: none

chore(release): 20.0.0-beta.9 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  c504d35203a2df41e96df15263b54f2d3b76e962
Due: none

Path conditions:
  npm run lint:ts: any of: *.ts
  npm run lint:styles: any of: *.scss
  **/dist/**: any of: ignore
  stories/**: any of: ignore
