Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

.lintstagedrc:

{
  "*.ts": ["npm run lint:ts", "git add"],
  "*.scss": ["npm run lint:styles", "git add"],
  "ignore": ["**/dist/**", "stories/**"]
}

feat(datepicker): new calendar and input-date (wip)
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-header/evo-calendar-section-header.component.html
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-section-header/evo-calendar-section-header.component.scss
Due: npm run lint:styles

feat(datepicker): new calendar and input-date (wip)
  projects/evo-ui-kit/src/lib/common/evo-base-input-like-control.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-input-time-inner/evo-calendar-input-time-inner.component.html
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-input-time-inner/evo-calendar-input-time-inner.component.scss
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-input-time-inner/evo-calendar-input-time-inner.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-input-time/evo-calendar-input-time.component.html
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-input-time/evo-calendar-input-time.component.scss
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar-input-time/evo-calendar-input-time.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar/evo-calendar.component.html
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar/evo-calendar.component.scss
  projects/evo-ui-kit/src/lib/components/evo-calendar/components/evo-calendar/evo-calendar.component.ts
  projects/evo-ui-kit/src/lib/components/evo-calendar/evo-calendar.module.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/assets/evo-input-date-common.scss
  projects/evo-ui-kit/src/lib/components/evo-input-date/classes/abstract-input-date.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/components/evo-input-date-range/evo-input-date-range.component.html
  projects/evo-ui-kit/src/lib/components/evo-input-date/components/evo-input-date-range/evo-input-date-range.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input-date/constants/date-time-separator.ts
  src/app/app.component.html
  src/app/app.component.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-autocomplete): ellipsis for multilabel template
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.scss
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-autocomplete): text wrapping for option
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-default-option/evo-autocomplete-default-option.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.scss
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-autocomplete): removed highlight multiple selected options
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.scss
Due: npm run lint:styles

feat(evo-input): add output focus event
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.html
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: npm run lint:ts

feat(evo-input): add output focus event (#1215)
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.html
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: npm run lint:ts

chore(release): 8.6.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  8961a8252387f0d463118a6a7dfbc53e1b21650a
Due: none

feat(evo-chip): add custom theme
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
  src/stories/components/evo-chip.stories.ts
Due: npm run lint:ts, npm run lint:styles

chore: fix release pipeline
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  9c2f0638d847eaaf9254b94522493598c0edd032
Due: none

chore(release): 8.7.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-autocomplete): fixed stories description
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts

chore(release): 6.11.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  49/c07973189e723132b14c2946daae2c150bd091
Due: none

fix(evo-autocomplete): fixed lint problem
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.html
Due: none

fix(evo-autocompete): MRK-4443: Автокомплит: Пофиксить поведение лейбла мультиавтокомплита (v7) (#1216)
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-default-option/evo-autocomplete-default-option.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.scss
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-autocomplete): MRK-4443: Автокомплит: Пофиксить поведение лейбла мультиавтокомплита (v8) (#1217)
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-default-option/evo-autocomplete-default-option.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.scss
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts, npm run lint:styles

Notes added by 'git notes add'
  85ee59ac2f7a0f91132ad1206639413e2c33e179
Due: none

chore(release): 8.7.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  e6ad87fa79e089981a35067c1ba217ad16570dbc
Due: none

chore(release): 7.4.8 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

docs(evo-badge): minor
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.ts
Due: npm run lint:ts

feat(evo-badge): refactor badge
  projects/evo-ui-kit/src/lib/common/types/evo-color.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/assets/evo-badge-variables.scss
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.html
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.module.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/types/evo-badge-color.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/types/evo-badge-size.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-color.ts
  src/stories/components/evo-badge.stories.ts
Due: npm run lint:ts, npm run lint:styles

build: gulp icons minor fix
  scripts/gulp-icons-build.js
Due: none

feat(evo-badge): refactor badge
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
Due: npm run lint:styles

chore(release): 7.5.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  eb009cf704a840421403910e20379e83a1d86c86
Due: none
