Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

.lintstagedrc:

{
  "*.ts": ["npm run lint:ts", "git add"],
  "*.scss": ["npm run lint:styles", "git add"],
  "ignore": ["**/dist/**", "stories/**"]
}

docs: update icons stories, fix assets
  src/stories/components/evo-alert.stories.ts
  src/stories/components/evo-banner.stories.ts
  src/stories/components/evo-button.stories.ts
  src/stories/components/evo-loader.stories.ts
  src/stories/components/evo-segmented-bar.stories.ts
  src/stories/components/evo-submenu.stories.ts
  src/stories/icons/color-icons.stories.ts
  src/stories/icons/evo-icon.stories.ts
Due: npm run lint:ts

fix(evo-navigation-button): fix story styles
  src/stories/components/evo-navigation-button.stories.ts
Due: npm run lint:ts

docs: update evo-button story
  src/stories/components/evo-button.stories.ts
Due: npm run lint:ts

fix(evo-navigation-button): style hover, active states
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/evo-navigation-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/evo-navigation-button.component.scss
Due: npm run lint:styles

docs: use evoButton instead of evo-button
  src/stories/components/evo-accordion.stories.ts
  src/stories/components/evo-autocomplete.stories.ts
  src/stories/components/evo-chip.stories.ts
  src/stories/components/evo-dropdown.stories.ts
  src/stories/components/evo-input-contenteditable.stories.ts
  src/stories/components/evo-input.stories.ts
  src/stories/components/evo-modal-wrapper/evo-modal-wrapper.component.html
  src/stories/components/evo-modal-wrapper/evo-modal-wrapper.component.ts
  src/stories/components/evo-modal.stories.ts
  src/stories/components/evo-radio.stories.ts
  src/stories/components/evo-segmented-bar.stories.ts
  src/stories/components/evo-select.stories.ts
  src/stories/components/evo-sidebar-wrapper/evo-sidebar-wrapper.component.html
  src/stories/components/evo-stepper.stories.ts
  src/stories/components/evo-table.stories.ts
  src/stories/components/evo-textarea.stories.ts
  src/stories/components/evo-toast-wrapper/evo-toast-wrapper.component.html
  src/stories/components/evo-toggle.stories.ts
  src/stories/components/evo-upload.stories.ts
  src/stories/icons/evo-icon.stories.ts
  src/stories/layout/evo-card.stories.ts
  src/stories/layout/evo-form.stories.ts
Due: npm run lint:ts

feat(evo-button): add tests, update markup
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button.functions.scss
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button-old/evo-button-old.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button/evo-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button/evo-button.component.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-modal): add params, use evoButton instead of evo-button
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.html
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.ts
Due: npm run lint:ts

feat(evo-upload): use evoButton instead of evo-button
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.html
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.spec.ts
Due: npm run lint:ts

style(evo-loader): codestyle evo-circular-loader
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.ts
Due: npm run lint:ts

test: use evoButton in tests
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.spec.ts
Due: npm run lint:ts

Notes added by 'git notes add'
  91/4f0c4f2965caf0fd8e248ea2b27e054b05a4ed
Due: none

chore: bump version to 6.6.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-autocomplete-default-option): remove incorrect color
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.scss
Due: npm run lint:styles

docs: update evo-navigation-button.stories.ts
  src/stories/components/evo-navigation-button.stories.ts
Due: npm run lint:ts

fix(scripts): fix monochrome icons names gen
  scripts/gulp-icons-build.js
Due: none

fix: add icons
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Go to chat.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Go to minichat.svg
Due: none

Notes added by 'git notes add'
  b9/916a258a3631cbc51eab74b8a0f43b21700876
Due: none

chore: bump version to 6.7.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-checkbox): mark check on set value
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.ts
Due: npm run lint:ts

fix(evo-checkbox): mark check on set disable
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.ts
Due: npm run lint:ts

fix(evo-checkbox): detect changes on set value / disable
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.ts
Due: npm run lint:ts

fix(evo-input): detect changes on set value / disable
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: npm run lint:ts

fix(scss): add evo-text-button mixin
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-text-button-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/_typography.scss
  src/stories/typography/basics.stories.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-button): use evo-text-button mixin
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button-custom-color-mixin.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button-sizes-shapes-mixin.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button.functions.scss
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button/evo-button.component.scss
  src/stories/components/evo-button.stories.ts
Due: npm run lint:ts, npm run lint:styles

docs: update stories
  src/assets/scss/story-global.scss
  src/stories/components/evo-button.stories.ts
Due: npm run lint:ts, npm run lint:styles

Notes added by 'git notes add'
  ae/f50794c327f11393aa5759bff357fb6aa406bf
Due: none

chore: bump version to 6.7.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(variables): update colors
  projects/evo-ui-kit/src/lib/styles/variables.scss
Due: npm run lint:styles

fix(evo-chip): design corrections
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
Due: npm run lint:styles

fix(evo-autocomplete): design corrections
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.scss
  projects/evo-ui-kit/src/lib/styles/variables.scss
Due: npm run lint:styles

feat(colors): remove deprecated colors usage
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar-button/evo-segmented-bar-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.scss
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.scss
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.scss
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  src/assets/scss/colors.scss
  src/stories/components/evo-icons-wrapper/evo-icons-wrapper.component.scss
  src/stories/typography/colors.scss
  src/stories/typography/colors.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-input): correct font, background colors
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.scss
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  projects/evo-ui-kit/src/lib/styles/variables.scss
  src/stories/typography/colors.scss
Due: npm run lint:styles

feat(evo-autocomplete): clear disabled, focused states
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
Due: npm run lint:styles

fix(colors): clear
  src/stories/typography/colors.scss
Due: npm run lint:styles

feat(colors): remove unused
  src/stories/typography/colors.scss
Due: npm run lint:styles

feat(mixins): clear code
  projects/evo-ui-kit/src/lib/styles/mixins.scss
Due: npm run lint:styles

feat(evo-form): show input usage examples
  src/stories/layout/evo-form.stories.ts
Due: npm run lint:ts

feat(evo-datepicker): correct border
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  src/stories/layout/evo-form.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-form): clear code
  src/stories/layout/evo-form.stories.ts
Due: npm run lint:ts

chore: update stylelint
  .stylelintrc
Due: none
