Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

.lintstagedrc:

{
  "*.ts": ["npm run lint:ts", "git add"],
  "*.scss": ["npm run lint:styles", "git add"],
  "ignore": ["**/dist/**", "stories/**"]
}

feat(evo-textarea): added blur event
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.ts
Due: npm run lint:ts

feat(evo-autocomplete): search fn typed
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
Due: npm run lint:ts

feat(evo-icon-button): notification dot
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.ts
  src/stories/components/evo-icon-button.stories.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-icon-button): removed double colon
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
Due: npm run lint:styles

feat(evo-input): styles for small rounded input
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
Due: npm run lint:styles

feat(evo-input): added to stories
  src/stories/components/evo-input.stories.ts
Due: npm run lint:ts

Notes added by 'git notes add'
  ae/f50794c327f11393aa5759bff357fb6aa406bf
Due: none

chore(release): 6.8.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  cc/4cadd9eddf5c59d1039ce313494cca9919668d
Due: none

feat(evo-autocomplete): searchable support for selectbox mode
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts

feat(evo-autocomplete): update files structure
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-default-option/evo-autocomplete-default-option.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-default-option/evo-autocomplete-default-option.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-default-option/evo-autocomplete-default-option.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-default-option/evo-autocomplete-default-option.component.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/fixtures.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/evo-autocomplete.module.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/public-api.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-autocomplete): rebuild options styles
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-default-option/evo-autocomplete-default-option.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.ts
Due: npm run lint:ts, npm run lint:styles

docs(evo-autocomplete): add group, header, footer stories
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts

docs: add info about global EvoModalService providing
  MIGRATION.md
Due: none

chore: turn off cli analytics reports
  angular.json
Due: none

docs(evo-navbar): actualize story
  src/stories/components/evo-navbar.stories.ts
Due: npm run lint:ts

feat(evo-navbar): add ability to pass element id and ngClass value
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar-item/evo-navbar-item.component.ts
  projects/evo-ui-kit/src/lib/components/evo-navbar/interfaces/nav-item-main-info.ts
Due: npm run lint:ts

feat(evo-navbar): make children available
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar.component.ts
Due: npm run lint:ts

fix(evo-navbar): in mobile view grouping item navigating instead of open sub menu
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar-item/evo-navbar-item.component.html
Due: none

refactor(evo-navbar): rewrite template and methods
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar-item/evo-navbar-item.component.html
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar-item/evo-navbar-item.component.ts
Due: npm run lint:ts

chore(release): 8.0.0-beta.16 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  b007fc96d2afd264fbc70bee44e3144643739d51
Due: none

feat(evo-autocomplete): add header and footer wrappers
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-footer/evo-autocomplete-footer.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-footer/evo-autocomplete-footer.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-footer/evo-autocomplete-footer.component.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-header/evo-autocomplete-header.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-header/evo-autocomplete-header.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete-header/evo-autocomplete-header.component.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/evo-autocomplete.module.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/public-api.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-autocomplete): update styles, fix notFoundText defaults
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.ts
Due: npm run lint:ts, npm run lint:styles

docs(evo-autocomplete): update story
  src/stories/components/evo-autocomplete.stories.ts
Due: npm run lint:ts

fix(evo-autocomplete): fix default notfoundtext for selectbox
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete/evo-autocomplete.component.ts
Due: npm run lint:ts

chore(release): 6.9.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  47/1e2551011570b9cdde375abefcf9ac6a9defe6
Due: none
