Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

.lintstagedrc:

{
  "*.ts": ["npm run lint:ts", "git add"],
  "*.scss": ["npm run lint:styles", "git add"],
  "ignore": ["**/dist/**", "stories/**"]
}

refactor(evo-checkbox): bind native checked/change instead of internal ngModel
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.html
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.ts
Due: npm run lint:ts

feat(evo-checkbox): add lightweight controlled mode
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.ts
  src/stories/components/evo-checkbox.stories.ts
Due: npm run lint:ts

perf(evo-checkbox): memoize checkboxClass reference
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.ts
Due: npm run lint:ts

fix(evo-checkbox): keep invalid indication live under OnPush
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.ts
Due: npm run lint:ts

test(evo-checkbox): cover OnPush error sync and controlled/ngModel paths
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.spec.ts
Due: npm run lint:ts

fix(evo-checkbox): derive master checkbox state from selectable rows only
  src/stories/components/evo-checkbox.stories.ts
Due: npm run lint:ts

fix(evo-checkbox): align master checkbox with the row column in the story
  src/stories/components/evo-checkbox.stories.ts
Due: npm run lint:ts

docs(evo-checkbox): document disabled and one-way [checked] contracts
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.ts
Due: npm run lint:ts

test(evo-checkbox): cover master checkbox regression and disabled semantics
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.spec.ts
Due: npm run lint:ts

test(evo-checkbox): pin the Angular disabled+setValue contract
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.spec.ts
Due: npm run lint:ts

feat(evo-table)!: plain-text mobile cell labels with optional #mobileLabel
  MIGRATION.md
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table-column/evo-table-column.component.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.html
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.spec.ts
  src/stories/components/evo-table.stories.ts
Due: npm run lint:ts

fix(evo-table): keep functional rowClasses/rowTitle reactive and guard empty data
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.html
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.ts
Due: npm run lint:ts

perf(evo-table): render data cells via an OnPush cell component
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table-cell/evo-table-cell.component.html
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table-cell/evo-table-cell.component.scss
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table-cell/evo-table-cell.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table-cell/evo-table-cell.component.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.html
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.ts
Due: npm run lint:ts, npm run lint:styles

perf(evo-table)!: gate header and row labels on the viewport
  MIGRATION.md
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.html
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.ts
Due: npm run lint:ts

docs(evo-table): justify the mobile label break by the mobile layout
  MIGRATION.md
Due: none

fix(evo-table)!: stripe data rows independently of the header row
  MIGRATION.md
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.html
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.scss
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.spec.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-table.scss
Due: npm run lint:ts, npm run lint:styles

fix(evo-table): keep the printed table readable from a desktop viewport
  MIGRATION.md
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.scss
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.ts
Due: npm run lint:ts, npm run lint:styles

docs(evo-table)!: document the OnPush cell reactivity contract
  MIGRATION.md
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.spec.ts
Due: npm run lint:ts

fix(evo-table): keep the header row in the DOM, gate only row labels on the viewport
  MIGRATION.md
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.html
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.scss
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-table.scss
Due: npm run lint:ts, npm run lint:styles

fix(evo-table): align the mobile-view breakpoint with the tablet media query
  projects/evo-ui-kit/src/lib/common/constants/view-breakpoint-streams.ts
Due: npm run lint:ts

chore(release): 20.0.0-beta.4 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  f29398d1910c4fce6814c1e6cfec60a699a5b220
Due: none

refactor(evo-table): read rows through a stable getter
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.html
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.ts
Due: npm run lint:ts

refactor(evo-table): extract the header row into a shared template
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.html
Due: none

feat(evo-table): add opt-in row virtualization
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.html
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.scss
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.ts
  src/stories/components/evo-table.stories.ts
Due: npm run lint:ts, npm run lint:styles

docs(evo-table): document the virtualized mode constraints
  MIGRATION.md
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.ts
Due: npm run lint:ts

fix(evo-table): apply column className width in the virtualized mode
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.scss
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.spec.ts
  src/stories/components/evo-table.stories.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-table): clamp a non-positive or non-numeric rowHeight to the default
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.ts
Due: npm run lint:ts

docs(evo-table): document the virtualized mode a11y, content and row-parity limits
  MIGRATION.md
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.html
Due: none

docs(evo-table): document the header/body scroll desync in the virtualized mode
  MIGRATION.md
Due: none

test(evo-table): harden the virtualized-mode specs
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.spec.ts
Due: npm run lint:ts

feat(styles)!: свести медиа-брейкпоинты к 4 тирам (360/768/1280/1536)
  MIGRATION.md
  projects/evo-ui-kit/src/lib/common/constants/css-breakpoints.ts
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.scss
  projects/evo-ui-kit/src/lib/styles/components/evo-form.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_media-mixins.scss
  projects/evo-ui-kit/src/lib/styles/variables.scss
Due: npm run lint:ts, npm run lint:styles

feat(evo-table): virtualized-mode mobile layouts, horizontal scroll and sticky columns
  MIGRATION.md
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.html
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.scss
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.ts
  src/stories/components/evo-table.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(styles)!: актуализировать тиры по дизайн-сетке и перейти на range-медиазапросы
  MIGRATION.md
  projects/evo-ui-kit/src/lib/common/constants/css-breakpoints.ts
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.scss
  projects/evo-ui-kit/src/lib/styles/globals.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_media-mixins.scss
  projects/evo-ui-kit/src/lib/styles/variables.scss
Due: npm run lint:ts, npm run lint:styles

fix(evo-tabs): initialize dynamic router tabs
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
  src/stories/components/evo-tabs.stories.ts
Due: npm run lint:ts

feat(evo-tabs): support color customization via CSS custom properties
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
  src/stories/components/evo-tabs.stories.ts
Due: npm run lint:ts, npm run lint:styles

chore(release): 8.27.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  441c3c32cf3b0480043cf404c2a586ee5893d416
Due: none
