Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

.lintstagedrc:

{
  "*.ts": ["npm run lint:ts", "git add"],
  "*.scss": ["npm run lint:styles", "git add"],
  "ignore": ["**/dist/**", "stories/**"]
}

fix(evo-chip): design corrections
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
Due: npm run lint:styles

fix(evo-autocomplete): design corrections
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.scss
  projects/evo-ui-kit/src/lib/styles/variables.scss
Due: npm run lint:styles

feat(colors): remove deprecated colors usage
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar-button/evo-segmented-bar-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.scss
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.scss
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.scss
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  src/assets/scss/colors.scss
  src/stories/components/evo-icons-wrapper/evo-icons-wrapper.component.scss
  src/stories/typography/colors.scss
  src/stories/typography/colors.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-input): correct font, background colors
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.scss
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  projects/evo-ui-kit/src/lib/styles/variables.scss
  src/stories/typography/colors.scss
Due: npm run lint:styles

feat(evo-autocomplete): clear disabled, focused states
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
Due: npm run lint:styles

fix(colors): clear
  src/stories/typography/colors.scss
Due: npm run lint:styles

feat(colors): remove unused
  src/stories/typography/colors.scss
Due: npm run lint:styles

feat(mixins): clear code
  projects/evo-ui-kit/src/lib/styles/mixins.scss
Due: npm run lint:styles

feat(evo-form): show input usage examples
  src/stories/layout/evo-form.stories.ts
Due: npm run lint:ts

feat(evo-datepicker): correct border
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  src/stories/layout/evo-form.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-form): clear code
  src/stories/layout/evo-form.stories.ts
Due: npm run lint:ts

Notes added by 'git notes add'
  c3/141162510bb51440bf4a175d099871cf329b0b
Due: none

Notes added by 'git notes add'
  1a/824f27ff49e70cbf738050600adc78edc29368
Due: none

chore: update changelog
  projects/evo-ui-kit/CHANGELOG.md
Due: none

fix: add type guard for evoLet directive
  projects/evo-ui-kit/src/lib/directives/evo-let/evo-let.directive.ts
Due: npm run lint:ts

Notes added by 'git notes add'
  8e/b9dda235af48f55e6d2ff3089514a56332347c
Due: none

chore: bump version to 6.4.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

chore: update stylelint
  .stylelintrc
Due: none

feat(styles): add typographic mixins, update main font
  .storybook/preview-head.html
  README.md
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.scss
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.scss
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.scss
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.scss
  projects/evo-ui-kit/src/lib/components/evo-submenu/evo-submenu.component.scss
  projects/evo-ui-kit/src/lib/components/evo-switcher/evo-switcher.component.scss
  projects/evo-ui-kit/src/lib/styles/components/evo-button.scss
  projects/evo-ui-kit/src/lib/styles/components/evo-title.scss
  projects/evo-ui-kit/src/lib/styles/globals.scss
  projects/evo-ui-kit/src/lib/styles/main.scss
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  projects/evo-ui-kit/src/lib/styles/partials/_typography.scss
  projects/evo-ui-kit/src/lib/styles/partials/fonts.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_typography-caption-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_typography-field-typo-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_typography-header-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_typography-header-mobile-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_typography-paragraph-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_typography-subtitle-mixin.scss
  src/assets/scss/typography-basics.scss
  src/index.html
  src/stories/typography/basics.stories.ts
Due: npm run lint:ts, npm run lint:styles

Notes added by 'git notes add'
  8d/97bea0b2a10f1ede069ce31289f36af87c99f6
Due: none

chore: bump version to 6.5.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-icon): update shape on input changes
  projects/evo-ui-kit/src/lib/components/evo-icon/evo-icon.component.ts
  src/stories/components/evo-icon.stories.ts
Due: npm run lint:ts

fix(typography): rename mixins and CSS-variables
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.scss
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.scss
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.scss
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.scss
  projects/evo-ui-kit/src/lib/components/evo-submenu/evo-submenu.component.scss
  projects/evo-ui-kit/src/lib/components/evo-switcher/evo-switcher.component.scss
  projects/evo-ui-kit/src/lib/styles/components/evo-button.scss
  projects/evo-ui-kit/src/lib/styles/components/evo-title.scss
  projects/evo-ui-kit/src/lib/styles/globals.scss
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  projects/evo-ui-kit/src/lib/styles/partials/_typography.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_evo-text-caption-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_evo-text-field-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_evo-text-header-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_evo-text-mobile-header-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_evo-text-paragraph-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_evo-text-subtitle-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_evo-text-tips-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_typography-header-mobile-mixin.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_typography-subtitle-mixin.scss
  src/assets/scss/typography-basics.scss
  src/stories/typography/basics.stories.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-control-error): use typography mixin
  projects/evo-ui-kit/src/lib/components/evo-control-error/evo-control-error.component.scss
Due: npm run lint:styles

fix(evo-control-label): use typography mixin
  projects/evo-ui-kit/src/lib/components/evo-control-label/evo-control-label.component.scss
Due: npm run lint:styles

fix(evo-icon-button): use typography mixin
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
Due: npm run lint:styles

fix(evo-chip): use typography mixin
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
Due: npm run lint:styles

fix(scss): fix mixins imports structure
  projects/evo-ui-kit/src/lib/components/evo-control-error/evo-control-error.component.scss
  projects/evo-ui-kit/src/lib/components/evo-control-label/evo-control-label.component.scss
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  projects/evo-ui-kit/src/lib/styles/partials/_media-mixins.scss
  projects/evo-ui-kit/src/lib/styles/partials/_typography.scss
  projects/evo-ui-kit/src/lib/styles/partials/typography/_evo-text-header-mixin.scss
Due: npm run lint:styles

fix(scss): fix mixins imports structure
  projects/evo-ui-kit/src/lib/styles/globals.scss
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-input-mixins.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-text-caption-mixin.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-text-field-mixin.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-text-header-mixin.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-text-mobile-header-mixin.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-text-paragraph-mixin.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-text-subtitle-mixin.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_evo-text-tips-mixin.scss
  projects/evo-ui-kit/src/lib/styles/mixins/_media-mixins.scss
  projects/evo-ui-kit/src/lib/styles/partials/_fonts.scss
Due: npm run lint:styles

docs(evo-accordion): fix accordion story
  src/stories/components/evo-accordion.stories.ts
Due: npm run lint:ts

fix(evo-badge): use typography mixin
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
Due: npm run lint:styles

docs: deprecation warnings
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.ts
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.module.ts
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-loader.component.ts
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar-button/evo-segmented-bar-button.component.ts
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar.module.ts
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar/evo-segmented-bar.component.ts
  projects/evo-ui-kit/src/lib/components/evo-submenu/evo-submenu.component.ts
  projects/evo-ui-kit/src/lib/components/evo-submenu/evo-submenu.module.ts
  src/stories/components/evo-alert.stories.ts
  src/stories/components/evo-banner.stories.ts
  src/stories/components/evo-loader.stories.ts
  src/stories/components/evo-segmented-bar.stories.ts
  src/stories/components/evo-submenu.stories.ts
Due: npm run lint:ts

Notes added by 'git notes add'
  a4/2884a9ba5997203d484a4601900d56753284ed
Due: none

chore: bump version to 6.5.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-navigation-button): add back button
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/evo-navigation-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/evo-navigation-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/evo-navigation-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/evo-navigation-button.component.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/evo-navigation-button.module.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/index.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/public-api.ts
  projects/evo-ui-kit/src/public_api.ts
  src/stories/components/evo-navigation-button.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(scss): add $hover param to table-row mixin
  projects/evo-ui-kit/src/lib/styles/components/evo-table.scss
Due: npm run lint:styles

docs: update story-global
  src/assets/scss/story-global.scss
  src/assets/scss/typography-basics.scss
  src/stories/typography/basics.stories.ts
Due: npm run lint:ts, npm run lint:styles

feat(evo-button): add new EvoButtonComponent
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button-color-shape-crutches-mixin.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button-colors-mixin.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button-custom-color-mixin.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button-shapes-mixin.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button-sizes-shapes-mixin.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button.functions.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/_evo-button.variables.scss
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button-old/evo-button-old.component.html
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button-old/evo-button-old.component.scss
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button-old/evo-button-old.component.ts
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button/evo-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button/evo-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-button/components/evo-button/evo-button.component.ts
  projects/evo-ui-kit/src/lib/components/evo-button/constants/evo-button-themes-map.ts
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.module.ts
  projects/evo-ui-kit/src/lib/components/evo-button/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-color.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-shape.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-size.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-theme-params.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-theme.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/index.ts
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  src/stories/components/evo-button.stories.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-icon-button): mark as deprecated
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.ts
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/evo-navigation-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-navigation-button/evo-navigation-button.component.spec.ts
  src/stories/components/evo-icon-button.stories.ts
Due: npm run lint:ts, npm run lint:styles
