Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

.lintstagedrc:

{
  "*.ts": ["npm run lint:ts", "git add"],
  "*.scss": ["npm run lint:styles", "git add"],
  "ignore": ["**/dist/**", "stories/**"]
}

fix(evo-dropdown): renamed output event
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
Due: npm run lint:ts

fix(evo-icon-button): added evo-circular-loader
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.module.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-icon-button): css variable for icon size
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
Due: npm run lint:styles

fix(evo-icon-button): fixed tests
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.spec.ts
Due: npm run lint:ts

fix(evo-dropdown): fixed escape closing
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.html
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
Due: npm run lint:ts

chore(release): 8.0.2 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  d245cc31f55d868c38f8f4e5d0a5fd85506363b2
Due: none

Notes added by 'git notes add'
  31/11d46997c30f183f51d219ca4eaa60e772e17c
Due: none

chore(release): 6.9.7 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

chore(release): 7.4.4 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  50486ce16c58876ee4e6dbc43fc0965222d9ea2e
Due: none

fix(evo-icon-button): added evo-circular-loader
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.module.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-icon-button): fixed template
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.html
Due: none

fix(evo-icon-button): added evo-circular-loader
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.ts
Due: npm run lint:ts, npm run lint:styles

fix(evo-icon-button): added evo-circular-loader (#1192)
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.ts
Due: npm run lint:ts, npm run lint:styles

chore(release): 8.0.3 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  3d0cd1f4c50929a356341ddae1d9f916566ddaf4
Due: none

chore(release): 7.4.5 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  5a9c41060bb74ec0d252f68f909e4f519290ae45
Due: none

fix(evo-dropdown): outside click closing fix
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
Due: npm run lint:ts

fix(evo-dropdown): fixed click outside closing
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
Due: npm run lint:ts

fix(evo-dropdown): outside click closing fix (#1202)
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
Due: npm run lint:ts

fix(evo-dropdown): outside click closing fix (#1200)
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
Due: npm run lint:ts

fix(evo-dropdown): outside click closing fix (#1201)
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.ts
Due: npm run lint:ts

chore(release): 8.0.4 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  51372d79f9a7676a5fcdb0103b63f5f67ab9d652
Due: none

chore(release): 6.9.8 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none
