Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:styles, **/dist/**, stories/**

.lintstagedrc:

{
  "*.ts": ["npm run lint:ts", "git add"],
  "*.scss": ["npm run lint:styles", "git add"],
  "ignore": ["**/dist/**", "stories/**"]
}

ci: define release variable
  .github/workflows/release.yml
Due: none

ci: env fix
  .github/workflows/release.yml
Due: none

ci: fix env
  .github/workflows/release.yml
Due: none

ci: test action
  .github/scripts/notify-telegram.sh
Due: none

ci: update action
  .github/workflows/release.yml
Due: none

fix(evo-upload): restore 5.80.0 version of upload
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
Due: npm run lint:ts

Notes added by 'git notes add'
  f7/0db1e9dd5554e952df4fcd8f126a4361a9063b
Due: none

chore: bump version to 5.83.2
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix: peer deps
  package.json
Due: none

test: exclude unstable test
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.spec.ts
Due: npm run lint:ts

chore: delete node-sass
  package.json
Due: none

chore: delete ngcc
  package.json
Due: none

chore: ng update 10
  package.json
  projects/evo-ui-kit/package.json
  src/.browserslistrc
  tsconfig.json
  tslint.json
  yarn.lock
Due: none

chore: deps for ng10
  package.json
  projects/evo-ui-kit/karma.conf.js
  src/karma.conf.js
  yarn.lock
Due: none

chore: lib deps
  projects/evo-ui-kit/package.json
Due: none

chore: delete yarn.lock
  yarn.lock
Due: none

chore: lib deps
  yarn.lock
Due: none

Revert "chore: delete yarn.lock"
  yarn.lock
Due: none

ng update 11
  angular.json
  package.json
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-alert/evo-alert.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-control-error/evo-control-error.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-dropdown/evo-dropdown.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-loader.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar-item/evo-navbar-item.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-navbar/evo-navbar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-plus-minus/evo-plus-minus.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-portal/evo-portal.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-radio/evo-radio.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-radioshape/components/evo-radioshape.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-switcher/components/evo-switcher-item/evo-switcher-item.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-switcher/evo-switcher.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table-column/evo-table-column.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.spec.ts
  projects/evo-ui-kit/src/lib/directives/evo-ui-class.directive.spec.ts
  projects/evo-ui-kit/tsconfig.lib.json
  projects/evo-ui-kit/tsconfig.lib.prod.json
  yarn.lock
Due: npm run lint:ts

ng update 12
  angular.json
  package.json
  projects/evo-ui-kit/src/test.ts
  projects/evo-ui-kit/tsconfig.lib.json
  src/environments/environment.ts
  src/polyfills.ts
  tsconfig.json
  yarn.lock
Due: npm run lint:ts

chore: deps for ng11
  package.json
  yarn.lock
Due: none

chore: deps for ng12
  package.json
  yarn.lock
Due: none

fix: circular dependencies
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs-size.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs-size.service.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs-size.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/public-api.ts
Due: npm run lint:ts

chore: replace --prod on config
  gulpfile.js
Due: none

build: add eslint, remove tslint
  .eslintignore
  .eslintrc.json
  .prettierignore
  .prettierrc.js
  angular.json
  package.json
  src/generated/color-icons.ts
  tsconfig.eslint.json
  tslint.json
Due: npm run lint:ts

chore: fix eslint errors
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-footer/evo-sidebar-footer.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.ts
Due: npm run lint:ts

chore: fix stylelint errors
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.scss
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.scss
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.scss
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.scss
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.scss
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-content/evo-sidebar-content.component.scss
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.scss
  projects/evo-ui-kit/src/lib/styles/components/skeleton.scss
  src/stories/components/evo-icons-wrapper/evo-icons-wrapper.component.scss
  src/stories/components/evo-table-dynamic-columns/evo-table-dynamic-columns.component.scss
Due: npm run lint:styles

chore: fix tests
  .nvmrc
  package.json
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
Due: npm run lint:ts

Revert "test: exclude unstable test"
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.spec.ts
Due: npm run lint:ts

build: fix errors and warnings
  .storybook/tsconfig.json
  projects/evo-ui-kit/package.json
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar-button/evo-segmented-bar-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-sidebar/enums/evo-sidebar-close-targets.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/enums/evo-sidebar-sizes.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/enums/evo-sidebar-states.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-content/evo-sidebar-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-portal.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.module.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/interfaces.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/sidebar-injection-token.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
  projects/evo-ui-kit/tsconfig.lib.json
  src/stories/components/evo-sidebar-wrapper/evo-sidebar-wrapper.component.ts
Due: npm run lint:ts, npm run lint:styles

chore: move evo-tabs-size.ts to enums folder
  projects/evo-ui-kit/src/lib/components/evo-tabs/enums/evo-tabs-size.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs-size.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs-size.service.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/public-api.ts
Due: npm run lint:ts

test(sidebar): fix errors
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
Due: npm run lint:ts

chore: change workflows node version
  .github/workflows/pull_request.yml
  .github/workflows/push_master.yml
Due: none

chore: add package-lock to vcs
  .gitignore
  package-lock.json
Due: none

chore(deps): migrate from @evo/front-tools-config to @evotor-dev/front-tools-config
  .stylelintrc
  package-lock.json
  package.json
  yarn.lock
Due: none

test: fix test:ci
  package.json
Due: none

ci: remove "SonarCloud Scan" workflows step
  .github/workflows/pull_request.yml
  .github/workflows/push_master.yml
Due: none

build: icons update
  src/generated/color-icons.ts
Due: npm run lint:ts
